<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>

    <header class="header ">
        <div class="container">
            <div class="header-content d-wrap">
                <div class="header-content-btn d-item">
                    <div class="header-content-btn-img black">
                        <img src="./assets/images/btnMenusvg.svg" alt="">
                    </div>

                    <div class="header-content-btn-img yellow">
                        <img src="./assets/images/btnMenusvg2.svg" alt="">
                    </div>
                </div>

                <div class="header-content-logo d-item">
                    <a href="" class="header-content-logo-img black">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>

                    <a href="" class="header-content-logo-img yellow">
                        <img src="./assets/images/logo2.svg" alt="">
                    </a>
                </div>


                <div class="header-content-language d-item">
                    <ul class="header-content-language-list">
                        <li class="header-content-language-item active">
                            <a href="" class="header-content-language-link">
                                vietnamese
                            </a>
                        </li>
                        <li class="header-content-language-item">
                            <a href="" class="header-content-language-link">
                                english
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>


    <div class="menu-drop">
        <div class="menu-drop-exits">
            <i class="fal fa-times"></i>
        </div>

        <ul class="menu-drop-list">
            <li class="menu-item active">
                <a href="" class="menu-link">
                    Trang chủ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Giới thiệu
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Khách sạn
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Spa & Wellness
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Căn hộ dịch vụ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Hệ thống cửa hàng mỹ phẩm
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tin tức & Sự kiện
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tuyển dụng
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Liên hệ
                </a>
            </li>
        </ul>

        <div class="menu-drop-img">
            <img src="./assets/images/logo.svg" alt="">
        </div>
    </div>

    <div class="header-modal"></div>




    <main class="main pt">
        <div class="about-intro">
            <div class="about-intro-box">
                <div class="about-intro-top">
                    <div class="recruitment-related-title">
                        <div class="recruitment-related-title-bf">
                            ROYAL
                        </div>
                        <div class="recruitment-related-title-at">
                            BRING BELIEFS.
                        </div>
                    </div>
                    <div class="about-intro-title-mo">
                        ISLAND
                    </div>
                </div>
                <div class="about-intro-bottom">
                    <div class="about-intro-title">
                        GET VALUES.
                    </div>
                </div>
            </div>

            <div class="dich-vu-more">
                <div class="dich-vu-more-list gallery">
                    <div class="dich-vu-more-list-image">
                        <div class="swiper mySwiperTop">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more1.png">
                                        <img src="./assets/images/more1.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more2.png">
                                        <img src="./assets/images/more2.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more3.png">
                                        <img src="./assets/images/more3.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more4.png">
                                        <img src="./assets/images/more4.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more1.png">
                                        <img src="./assets/images/more1.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more2.png">
                                        <img src="./assets/images/more2.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more3.png">
                                        <img src="./assets/images/more3.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more4.png">
                                        <img src="./assets/images/more4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dich-vu-more-list-image">
                        <div class="swiper mySwiperBottom">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more1.png">
                                        <img src="./assets/images/more1.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more2.png">
                                        <img src="./assets/images/more2.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more3.png">
                                        <img src="./assets/images/more3.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more4.png">
                                        <img src="./assets/images/more4.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more1.png">
                                        <img src="./assets/images/more1.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more2.png">
                                        <img src="./assets/images/more2.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more3.png">
                                        <img src="./assets/images/more3.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more4.png">
                                        <img src="./assets/images/more4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="about-overview">
            <div class="container">
                <div class="about-overview-title">
                    TỔNG QUAN
                </div>
                <div class="news-outstanding-title">
                    <div class="news-outstanding-title-icon">
                        <img src="./assets/images/Star 4.svg" alt="">
                    </div>
                    BÀI VIẾT NỔI BẬT
                    <div class="news-outstanding-title-icon">
                        <img src="./assets/images/Star 4.svg" alt="">
                    </div>
                </div>
                <div class="about-overview-content d-wrap">
                    <div class="about-overview-left d-item">
                        <div class="about-overview-left-list ">
                            <div class="about-overview-left-item">
                                <div class="about-overview-left-item-box">
                                    <div class="about-overview-left-title">
                                        Hòn Đảo Hoàng Gia
                                    </div>
                                    <div class="product-about-navi">
                                        <div class="btn-pro-ab prev">
                                            <i class="fal fa-arrow-left"></i>
                                        </div>
                                        <div class="btn-pro-ab next">
                                            <i class="fal fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="about-overview-left-note">
                                    Lựa chọn tuyệt vời dành cho bạn
                                </div>

                                <ul class="about-overview-left-list-con">
                                    <li class="about-overview-left-item-con">
                                        <strong>Công ty Khách sạn Hòn Đảo Hoàng Gia</strong> là doanh nghiệp hoạt động
                                        trong các lĩnh vực đầu tư, phát triển, kinh doanh dịch vụ du lịch, khách sạn, hệ
                                        thống chăm sóc sức khỏe và spa cao cấp...
                                    </li>

                                    <li class="about-overview-left-item-con">
                                        Tại Việt Nam, du lịch được đánh giá là một trong 3 ngành kinh tế mũi nhọn được
                                        nhà nước chú trọng đầu tư cơ sở hạ tầng, không ngừng phát triển và đóng góp rất
                                        lớn cho nền kinh tế đất nước. Tận dụng lợi thế đó, <strong>Công ty Khách sạn Hòn
                                            Đảo Hoàng Gia</strong> đã và đang tập trung đầu tư, phát triển
                                    </li>

                                    <li class="about-overview-left-item-con">
                                        Tại Việt Nam, du lịch được đánh giá là một trong 3 ngành kinh tế mũi nhọn được
                                        nhà nước chú trọng đầu tư cơ sở hạ tầng, không ngừng phát triển và đóng góp rất
                                        lớn cho nền kinh tế đất nước. Tận dụng lợi thế đó, <strong>Công ty Khách sạn Hòn
                                            Đảo Hoàng Gia</strong> đã và đang tập trung đầu tư, phát triển
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="about-overview-right d-item">
                        <div class="about-overview-right-list">
                            <div class="swiper mySwiperRight">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="about-overview-right-item">
                                            <div class="about-overview-right-item-img">
                                                <img src="./assets/images/aboutOv.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="about-overview-right-item">
                                            <div class="about-overview-right-item-img">
                                                <img src="./assets/images/aboutOv.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="about-overview-right-item">
                                            <div class="about-overview-right-item-img">
                                                <img src="./assets/images/aboutOv.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-list">
            <div class="about-list-item">
                <div class="about-list-item-left">
                    <div class="about-list-item-left-top">
                        <div class="about-list-item-title">
                            TẦM NHÌN
                        </div>

                        <div class="about-list-item-text">
                            Được công nhận là doanh nghiệp xuất sắc trong lĩnh vực đầu tư, kinh doanh khai thác khách
                            sạn, spa gắn liền với mục tiêu chăm sóc sức khỏe; trở thành niềm tự hào của ngành du lịch
                            Việt Nam.
                        </div>
                    </div>

                    <div class="about-list-item-left-bottom">
                        <div class="about-list-item-left-bottom-number">
                            01
                        </div>
                        <div class="about-list-item-left-bottom-text">
                            Tầm nhìn
                        </div>
                    </div>
                </div>

                <div class="about-list-item-right">
                    <div class="about-list-item-right-img">
                        <img src="./assets/images/aboutTamNhin.png" alt="">
                    </div>
                </div>

            </div>

            <div class="about-list-item">
                <div class="about-list-item-left">
                    <div class="about-list-item-left-top">
                        <div class="about-list-item-title">
                            SỨ MỆNH
                        </div>

                        <div class="about-list-item-text">
                            Mang đến giá trị sức khỏe, hạnh phúc bằng những sản phẩm, dịch vụ chuyên nghiệp; dành cho nhau những điều tốt đẹp và trân quý mỗi khoảnh khắc gặp gỡ chính là triết lý kinh doanh mà chúng tôi đã và đang dầy công xây dựng với tất cả trái tim, sự chân thành, tận tụy của những thành viên tâm huyết tại <strong>Công ty Khách sạn Hòn Đảo Hoàng Gia</strong>.
                        </div>
                    </div>

                    <div class="about-list-item-left-bottom">
                        <div class="about-list-item-left-bottom-number">
                            02
                        </div>
                        <div class="about-list-item-left-bottom-text">
                            Triết lý kinh doanh
                        </div>
                    </div>
                </div>

                <div class="about-list-item-right">
                    <div class="about-list-item-right-img">
                        <img src="./assets/images/trietli.png" alt="">
                    </div>
                </div>

            </div>

            <div class="about-list-item">
                <div class="about-list-item-left">
                    <div class="about-list-item-left-top">
                        <div class="about-list-item-title">
                            TRIẾT LÝ
                            KINH DOANH
                        </div>

                        <div class="about-list-item-text">
                            Mang đến giá trị sức khỏe, hạnh phúc bằng những sản phẩm, dịch vụ chuyên nghiệp; dành cho nhau những điều tốt đẹp và trân quý mỗi khoảnh khắc gặp gỡ chính là triết lý kinh doanh mà chúng tôi đã và đang dầy công xây dựng với tất cả trái tim, sự chân thành, tận tụy của những thành viên tâm huyết tại <strong>Công ty Khách sạn Hòn Đảo Hoàng Gia</strong>.
                        </div>
                    </div>

                    <div class="about-list-item-left-bottom">
                        <div class="about-list-item-left-bottom-number">
                            04
                        </div>
                        <div class="about-list-item-left-bottom-text">
                            Triết lý kinh doanh
                        </div>
                    </div>
                </div>

                <div class="about-list-item-right">
                    <div class="about-list-item-right-img">
                        <img src="./assets/images/trietli.png" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="about-message">
            <div class="container">
                <div class="about-message-content d-wrap">
                    <div class="about-message-left d-item">
                        <div class="about-message-left-content">
                            <div class="about-message-left-tt-1">

                            </div>
                            <div class="about-message-left-tt-2">

                            </div>
                            <div class="about-message-left-img">
                                <img src="./assets/images/mess.png" alt="">
                            </div>
                            <div class="about-message-box">
                                <div class="about-message-title">
                                    THÔNG ĐIỆP
                                </div>
                                <div class="about-message-note">
                                    TỪ GIÁM ĐỐC
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="about-message-right d-item">
                        <ul class="about-message-right-list">
                            <li class="about-message-right-item">
                                Kính thưa quý khách hàng, đối tác,
                            </li>

                            <li class="about-message-right-item">
                                Người Nhật có câu thành ngữ nổi tiếng “Ichigo Ichie” – “Nhất kỳ nhất hội”, tạm hiểu là
                                đối với con người chúng ta, mỗi cuộc gặp gỡ là những khoảnh khắc đáng để trân quý, bởi
                                nó sẽ không bao giờ trở lại lần hai. Chính vì lẽ đó, chúng tôi luôn xem sự kết giao với
                                mỗi khách hàng, đối tác không chỉ là mối duyên kỳ ngộ mà đó còn là niềm vinh hạnh và
                                cũng là cơ hội để chúng tôi thể hiện sự tận tâm, chân thành bằng cả trái tim.
                            </li>

                            <li class="about-message-right-item">
                                Điều này trước hết thể hiện qua những sản phẩm, dịch vụ được đầu tư chỉn chu từ thiết
                                kế, xây dựng, trang trí nội thất, tiện ích dịch vụ, môi trường cho đến nhân viên khách
                                sạn, spa... Đó là sự tổng hòa của nhiều yếu tố để tạo ra những khoảnh khắc đáng nhớ
                                trong lòng khách
                            </li>

                            <li class="about-message-right-item">
                                Người Nhật có câu thành ngữ nổi tiếng “Ichigo Ichie” – “Nhất kỳ nhất hội”, tạm hiểu là
                                đối với con người chúng ta, mỗi cuộc gặp gỡ là những khoảnh khắc đáng để trân quý, bởi
                                nó sẽ không bao giờ trở lại lần hai. Chính vì lẽ đó, chúng tôi luôn xem sự kết giao với
                                mỗi khách hàng, đối tác không chỉ là mối duyên kỳ ngộ mà đó còn là niềm vinh hạnh và
                                cũng là cơ hội để chúng tôi thể hiện sự tận tâm, chân thành bằng cả trái tim.
                            </li>
                        </ul>
                        <div class="about-message-right-box">
                            <div class="about-message-right-ky">
                                <div class="about-message-right-img">
                                    <img src="./assets/images/messChuKy.png" alt="">
                                </div>
                                <div class="about-message-right-name">
                                    Võ Vũ Uyên Duyên
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-culture">
            <div class="container">
                <div class="about-message-box">
                    <div class="about-message-title">
                        VĂN HOÁ
                    </div>
                    <div class="about-message-note">
                        DOANH NGHIỆP
                    </div>
                </div>

                <div class="about-culture-content d-wrap">
                    <div class="about-culture-left d-item">
                        <div class="about-culture-left-list d-wrap">
                            <div class="product-about-navi">
                                <div class="btn-pro-ab prev">
                                    <i class="fal fa-arrow-left"></i>
                                </div>
                                <div class="btn-pro-ab next">
                                    <i class="fal fa-arrow-right"></i>
                                </div>
                            </div>
                            <div class="swiper mySwiperLeft ">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide d-item">
                                        <div class="about-culture-left-item">
                                            <div class="about-culture-left-text">
                                                Tự hào là nơi hội tụ đội ngũ nhân sự trẻ, năng động, sáng tạo, giàu
                                                nhiệt huyết, được đào tạo chuyên nghiệp phù hợp với từng vị trí công
                                                việc.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide d-item">
                                        <div class="about-culture-left-item">
                                            <div class="about-culture-left-text">
                                                Tự hào là nơi hội tụ đội ngũ nhân sự trẻ, năng động, sáng tạo, giàu
                                                nhiệt huyết, được đào tạo chuyên nghiệp phù hợp với từng vị trí công
                                                việc.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide d-item">
                                        <div class="about-culture-left-item">
                                            <div class="about-culture-left-text">
                                                Cơ hội thăng tiến nghề nghiệp công bằng cho mọi đối tượng.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide d-item">
                                        <div class="about-culture-left-item">
                                            <ul class="about-culture-left-box">
                                                <li class="about-culture-left-box-content">
                                                    <div class="about-culture-left-box-title">
                                                        <div class="about-culture-left-box-icon"></div>
                                                        Chính sách tiền lương
                                                    </div>

                                                    <div class="about-culture-left-box-text">
                                                        Chính sách lương luôn đảm bảo cạnh tranh trên thị trường.
                                                    </div>
                                                </li>

                                                <li class="about-culture-left-box-content">
                                                    <div class="about-culture-left-box-title">
                                                        <div class="about-culture-left-box-icon"></div>
                                                        Chính sách thưởng
                                                    </div>

                                                    <div class="about-culture-left-box-text">
                                                        Cơ chế khen thưởng được xây dựng dựa trên hệ thống đánh giá công
                                                        khai, minh bạch, đảm bảo được việc phát huy tối đa năng lực và
                                                        ghi nhận cống hiến của mỗi nhân viên.
                                                    </div>
                                                </li>

                                                <li class="about-culture-left-box-content">
                                                    <div class="about-culture-left-box-title">
                                                        <div class="about-culture-left-box-icon"></div>
                                                        Chính sách thưởng
                                                    </div>

                                                    <div class="about-culture-left-box-text">
                                                        Cơ chế khen thưởng được xây dựng dựa trên hệ thống đánh giá công
                                                        khai, minh bạch, đảm bảo được việc phát huy tối đa năng lực và
                                                        ghi nhận cống hiến của mỗi nhân viên.
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about-culture-right d-item">
                        <div class="about-culture-right-list d-wrap">
                            <div class="swiper mySwiperRight">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide d-item">
                                        <div class="about-culture-right-item">
                                            <div class="about-culture-right-item-img">
                                                <img src="./assets/images/vanhoa1.png" alt="">
                                            </div>
                                            <div class="about-culture-right-title">
                                                Chính sách nhân sự, đãi ngộ
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide d-item">
                                        <div class="about-culture-right-item">
                                            <div class="about-culture-right-item-img">
                                                <img src="./assets/images/vanhoa2.png" alt="">
                                            </div>
                                            <div class="about-culture-right-title">
                                                Môi trường làm việc
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide d-item">
                                        <div class="about-culture-right-item">
                                            <div class="about-culture-right-item-img">
                                                <img src="./assets/images/vanhoa3.png" alt="">
                                            </div>
                                            <div class="about-culture-right-title">
                                                Cơ hội nghề nghiệp
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide d-item">
                                        <div class="about-culture-right-item">
                                            <div class="about-culture-right-item-img">
                                                <img src="./assets/images/vanhoa4.png" alt="">
                                            </div>
                                            <div class="about-culture-right-title">
                                                Chính sách nhân sự, đãi ngộ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-culture-line"></div>
            <div class="about-culture-video">
                <div class="contact-slide-item">
                    <div class="contact-slide-item-img-box">
                        <div class="contact-slide-item-img">
                            <img src="./assets/images/hotel.png" alt="">
                        </div>
                    </div>
                    <div class="contact-slide-item-text-box">
                        <div class="contact-slide-item-text">
                            ROYAL
                        </div>
                        <div class="contact-slide-item-text">
                            ISLAND
                        </div>
                    </div>
                    <div class="sh-des-play cus-2">
                        <a href="./assets/videos/pexels-olya-kobruseva-6800632.mp4" class="sh-des-play-img vdsec-play">
                            <span class="sh-des-play-img-img"><img src="./assets/images/Play.svg" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-diagram">
            <div class="recruitment-related-title">
                <div class="recruitment-related-title-bf">
                    ROYAL
                </div>
                <div class="recruitment-related-title-at">
                    SẢN PHẨM CỦA CHÚNG TÔI
                </div>
            </div>

            <div class="about-diagram-img">
                <img src="./assets/images/sodo.png" alt="">
            </div>
        </div>

        <div class="about-partners">
            <div class="brand-logo about">
                <div class="container">
                    <div class="brand-logo-content d-wrap">
                        <div class="brand-logo-left d-item">
                            <div class="brand-logo-title">
                                THƯƠNG HIỆU
                            </div>
                            <div class="brand-logo-list">
                                <div class="swiper mySwiperLogoAbout">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="brand-logo-item">
                                                <div class="brand-logo-note">
                                                    Innisfree Official Store
                                                </div>
                                                <div class="brand-logo-text">
                                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính
                                                    hãng,
                                                    chuyên cung cấp tại thị trường Việt Nam.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="swiper-pagination about"></div>
                            </div>
                        </div>

                        <div class="brand-logo-right d-item">
                            <div class="brand-logo-right-content">
                                <div class="brand-logo-right-box box-1">
                                    <div class="brand-logo-right-box box-2">
                                        <div class="brand-logo-right-box box-3">
                                            <div class="brand-logo-right-box box-4">
                                                <div class="brand-logo-img-box">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="brand-logo-right-list">
                                    <div class="brand-logo-right-item active">
                                        <img src="./assets/images/logo3.svg" alt="">
                                    </div>
                                    <div class="brand-logo-right-item">
                                        <img src="./assets/images/zara.png" alt="">
                                    </div>
                                    <div class="brand-logo-right-item">
                                        <img src="./assets/images/Chanel-Logo.png" alt="">
                                    </div>
                                    <div class="brand-logo-right-item">
                                        <img src="./assets/images/47_Brand_Logo_1.png" alt="">
                                    </div>
                                    <div class="brand-logo-right-item">
                                        <img src="./assets/images/Spotify_Logo.png" alt="">
                                    </div>

                                    <div class="brand-logo-right-item">
                                        <img src="./assets/images/The-North-Face-Logo.png" alt="">
                                    </div>


                                    <div class="brand-logo-right-item">
                                        <img src="./assets/images/Louis_Vuitton.png" alt="">
                                    </div>

                                    <div class="brand-logo-right-item">
                                        <img src="./assets/images/Dior_BrandCrowd.png" alt="">
                                    </div>

                                    <div class="brand-logo-right-item">
                                        <img src="./assets/images/Dior_BrandCrowd.png" alt="">
                                    </div>


                                </div>

                                <div class="brand-list-tt">
                                    <div class="brand-item-tt">
                                    </div>
                                    <div class="brand-item-tt">
                                    </div>
                                    <div class="brand-item-tt">
                                    </div>
                                    <div class="brand-item-tt">
                                    </div>
                                    <div class="brand-item-tt">
                                    </div>
                                    <div class="brand-item-tt">
                                    </div>
                                    <div class="brand-item-tt">
                                    </div>
                                    <div class="brand-item-tt">
                                    </div>
                                    <div class="brand-item-tt">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>








    <!-- <div class="links-main">
        <ul class="links-main-list">
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vzalo.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vMess.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vtiktok.svg" alt="">
                </a>
            </li>
            <li class="links-main-item scroll-to-top">
                <div class="link-items">
                    <span class="items-top" href="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                    </span>



                </div>

            </li>
        </ul>
    </div> -->


    <footer class="footer">
        <div class="container">
            <div class="footer-content d-wrap">
                <div class="footer-content-left d-2 d-item">
                    <a href="" class="footer-logo">
                        <img src="./assets/images/logoFt.svg" alt="">
                    </a>
                    <div class="footer-content-left-text">
                        Công ty Khách sạn Hòn Đảo Hoàng Gia là doanh nghiệp hoạt động trong các lĩnh vực đầu tư, phát
                        triển, kinh doanh dịch vụ du lịch, khách sạn, hệ thống chăm sóc sức khỏe và spa cao cấp...
                    </div>
                    <ul class="footer-content-left-list">
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/face.svg" alt="">
                            </a>
                        </li>
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/insta.svg" alt="">
                            </a>
                        </li>

                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/linkin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-content-right d-2 d-item">
                    <ul class="footer-content-right-list">
                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/map.svg" alt=''>
                                </span>
                                Số 22 Khởi Nghĩa Bắc Sơn, P.10, TP. Đà Lạt, tỉnh Lâm Đồng
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/office-building 1.svg" alt=''>
                                </span>
                                72 – 74, đường B4, P. An Lợi Đông, TP. Thủ Đức, TP.HCM
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/email 1.svg" alt=''>
                                </span>
                                info@royalisland.vn
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/phone.svg" alt=''>
                                </span>
                                028 (3) 535 6556
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Trang chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Giới thiệu
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Lữu hành & Lưu trú
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Spa & Welness chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Căn hộ dịch vụ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Mỹ phẩm
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Tin tức & Sự kiện
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Nguồn nhân lực
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Liên hệ
                    </a>
                </li>

            </ul>
        </div>
        <div class="footer-link-mona">
            <img src="./assets/images/Signature 2.png" alt="">
        </div>
    </footer>


    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>