<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>

    <header class="header ">
        <div class="container">
            <div class="header-content d-wrap">
                <div class="header-content-btn d-item">
                    <div class="header-content-btn-img black">
                        <img src="./assets/images/btnMenusvg.svg" alt="">
                    </div>

                    <div class="header-content-btn-img yellow">
                        <img src="./assets/images/btnMenusvg2.svg" alt="">
                    </div>
                </div>

                <div class="header-content-logo d-item">
                    <a href="" class="header-content-logo-img black">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>

                    <a href="" class="header-content-logo-img yellow">
                        <img src="./assets/images/logo2.svg" alt="">
                    </a>
                </div>


                <div class="header-content-language d-item">
                    <ul class="header-content-language-list">
                        <li class="header-content-language-item active">
                            <a href="" class="header-content-language-link">
                                vietnamese
                            </a>
                        </li>
                        <li class="header-content-language-item">
                            <a href="" class="header-content-language-link">
                                english
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <div class="menu-drop">
        <div class="menu-drop-exits">
            <i class="fal fa-times"></i>
        </div>

        <ul class="menu-drop-list">
            <li class="menu-item active">
                <a href="" class="menu-link">
                    Trang chủ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Giới thiệu
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Khách sạn
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Spa & Wellness
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Căn hộ dịch vụ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Hệ thống cửa hàng mỹ phẩm
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tin tức & Sự kiện
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tuyển dụng
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Liên hệ
                </a>
            </li>
        </ul>

        <div class="menu-drop-img">
            <img src="./assets/images/logo.svg" alt="">
        </div>
    </div>

    <div class="header-modal"></div>



    <main class="main">


        <div class="banner-page">
            <div class="banner-page-bg">
                <img src="./assets/images/banner.png" alt="">
            </div>

            <div class="container">
                <div class="banner-page-content">
                    <div class="breadcrumbs">

                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-item">
                                <a href="#">Trang chủ</a>
                            </li>

                            <li class="breadcrumbs-item current">
                                <a href="#">Thông tin tài khoản</a>
                            </li>
                        </ul>

                    </div>
                    <div class="banner-page-title">
                        NGUỒN NHÂN LỰC
                    </div>
                    <div class="banner-page-filter">
                        <div class="banner-page-filter-item">
                            <div class="banner-page-filter-title">
                                <div class="banner-page-filter-icon">
                                    <img src="./assets/images/briefcase 1.svg" alt="">
                                </div>
                                Position
                            </div>
                            <div class="input-sl input-select">
                                <div class="input-sl-box input-select-box">
                                    <div class="input-sl-title input-select-title">
                                        Choose position
                                    </div>
                                    <input type="text" value="">
                                    <div class="input-sl-icon">
                                        <img src="./assets/images/Stroke 261.svg" alt="">
                                    </div>
                                </div>
                                <ul class="list-select list-select-box">
                                    <li class="item-select item-select-box">

                                        <div class="item-select-text">
                                            Khách sạn
                                        </div>
                                    </li>
                                    <li class="item-select item-select-box">

                                        <div class="item-select-text">
                                            Căn hộ dịch vụ
                                        </div>
                                    </li>
                                    <li class="item-select item-select-box">


                                        <div class="item-select-text">
                                            Spa & Wellness
                                        </div>
                                    </li>
                                    <li class="item-select item-select-box">


                                        <div class="item-select-text">
                                            Mỹ phẩm
                                        </div>
                                    </li>
                                    <li class="item-select item-select-box">

                                        <div class="item-select-text">
                                            Khác
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="banner-page-filter-item">
                            <div class="banner-page-filter-title">
                                <div class="banner-page-filter-icon">
                                    <img src="./assets/images/mapTD.svg" alt="">
                                </div>
                                Location
                            </div>
                            <div class="input-sl input-select">
                                <div class="input-sl-box input-select-box">
                                    <div class="input-sl-title input-select-title">
                                        Choose location
                                    </div>
                                    <input type="text" value="">
                                    <div class="input-sl-icon">
                                        <img src="./assets/images/Stroke 261.svg" alt="">
                                    </div>
                                </div>
                                <ul class="list-select list-select-box">
                                    <li class="item-select item-select-box">

                                        <div class="item-select-text">
                                            Khách sạn
                                        </div>
                                    </li>
                                    <li class="item-select item-select-box">

                                        <div class="item-select-text">
                                            Căn hộ dịch vụ
                                        </div>
                                    </li>
                                    <li class="item-select item-select-box">


                                        <div class="item-select-text">
                                            Spa & Wellness
                                        </div>
                                    </li>
                                    <li class="item-select item-select-box">


                                        <div class="item-select-text">
                                            Mỹ phẩm
                                        </div>
                                    </li>
                                    <li class="item-select item-select-box">

                                        <div class="item-select-text">
                                            Khác
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <a href="" class="banner-page-filter-search">
                            <i class="far fa-search"></i>
                        </a>
                    </div>
                </div>



            </div>
        </div>


        <div class="blog-td">
            <div class="container">
                <div class="blog-td-top d-wrap">
                    <div class="blog-td-top-left d-item">
                        <div class="blog-td-top-left-content">
                            <div class="blog-td-top-left-icon">
                                <img src="./assets/images/data-analytics 1.svg" alt="">
                            </div>
                            <div class="blog-td-top-left-box">
                                <div class="blog-td-top-left-title">
                                    Nhân viên phát triển kinh doanh - Marketing
                                </div>
                                <div class="blog-td-top-left-text">
                                    Thời hạn: <strong>18/04/2023 - 18/06/2023</strong>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="blog-td-top-right d-item">
                        <a href="" class="btn brown">
                            <span class="btn-inner">Gửi ngay</span>
                            <span class="btn-icon-right">
                                <img src="./assets/images/arrow-upper-right.svg" alt="">
                            </span>
                        </a>
                    </div>
                </div>

                <ul class="blog-td-bottom-list d-wrap">
                    <li class="blog-td-bottom-item d-4 d-item">
                        <div class="blog-td-bottom-img">
                            <img src="./assets/images/dollar (1) 1.svg" alt="">
                        </div>
                        <div class="blog-td-bottom-box">
                            <div class="blog-td-bottom-title">
                                Mức lương
                            </div>
                            <div class="blog-td-bottom-text">
                                From 10-15 million
                            </div>
                        </div>
                    </li>

                    <li class="blog-td-bottom-item d-4 d-item">
                        <div class="blog-td-bottom-img">
                            <img src="./assets/images/dollar (1) 1.svg" alt="">
                        </div>
                        <div class="blog-td-bottom-box">
                            <div class="blog-td-bottom-title">
                                Mức lương
                            </div>
                            <div class="blog-td-bottom-text">
                                From 10-15 million
                            </div>
                        </div>
                    </li>

                    <li class="blog-td-bottom-item d-4 d-item">
                        <div class="blog-td-bottom-img">
                            <img src="./assets/images/dollar (1) 1.svg" alt="">
                        </div>
                        <div class="blog-td-bottom-box">
                            <div class="blog-td-bottom-title">
                                Mức lương
                            </div>
                            <div class="blog-td-bottom-text">
                                From 10-15 million
                            </div>
                        </div>
                    </li>

                    <li class="blog-td-bottom-item d-4 d-item">
                        <div class="blog-td-bottom-img">
                            <img src="./assets/images/dollar (1) 1.svg" alt="">
                        </div>
                        <div class="blog-td-bottom-box">
                            <div class="blog-td-bottom-title">
                                Mức lương
                            </div>
                            <div class="blog-td-bottom-text">
                                From 10-15 million
                            </div>
                        </div>
                    </li>

                    <li class="blog-td-bottom-item d-4 d-item">
                        <div class="blog-td-bottom-img">
                            <img src="./assets/images/dollar (1) 1.svg" alt="">
                        </div>
                        <div class="blog-td-bottom-box">
                            <div class="blog-td-bottom-title">
                                Mức lương
                            </div>
                            <div class="blog-td-bottom-text">
                                From 10-15 million
                            </div>
                        </div>
                    </li>

                    <li class="blog-td-bottom-item d-4 d-item">
                        <div class="blog-td-bottom-img">
                            <img src="./assets/images/dollar (1) 1.svg" alt="">
                        </div>
                        <div class="blog-td-bottom-box">
                            <div class="blog-td-bottom-title">
                                Mức lương
                            </div>
                            <div class="blog-td-bottom-text">
                                From 10-15 million
                            </div>
                        </div>
                    </li>

                    <li class="blog-td-bottom-item d-4 d-item">
                        <div class="blog-td-bottom-img">
                            <img src="./assets/images/dollar (1) 1.svg" alt="">
                        </div>
                        <div class="blog-td-bottom-box">
                            <div class="blog-td-bottom-title">
                                Mức lương
                            </div>
                            <div class="blog-td-bottom-text">
                                From 10-15 million
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="blog-td-text">
            <div class="container">
                <div class="blog-td-text-content d-wrap">
                    <div class="blog-td-text-left d-item">
                        <div class="blog-td-text-left-content">
                            <div class="blog-td-text-title">
                                Giới thiệu
                            </div>
                            <div class="blog-td-text-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet lorem senectus eu erat id
                                urna, augue nulla eros. Eget mauris massa, sagittis in adipiscing posuere ante. Rhoncus,
                                viverra non dui, in et ullamcorper ultrices. Egestas viverra vitae habitant eu habitasse
                                sit massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet lorem senectus
                                eu erat id urna, augue nulla eros. Eget mauris massa, sagittis in adipiscing posuere
                                ante. Rhoncus, viverra non dui, in et ullamcorper ultrices.
                            </div>

                            <div class="blog-td-text-title">
                                Mô tả công việc
                            </div>
                            <ul class="blog-td-text-list">
                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsu onsectetur
                                    adipiscing elit. .
                                </li>

                                <li class="blog-td-text-item">
                                    Amet lorem senectus eu erat id urna, augue nulla eros. Eget mauris massa, sagittis
                                    in adipiscing posuere ante. Rhoncus, viverra non dui, in et ullamcorper ultrices.
                                </li>

                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet,
                                    consectetu.
                                </li>

                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscin tetur adipiscing elit. Amet lorem
                                    senectus posuere ante. Rhoncus, viverra non dui, in et ullamcorper ultrices.
                                </li>
                            </ul>

                            <div class="blog-td-text-title">
                                Yêu cầu công việc
                            </div>
                            <ul class="blog-td-text-list">
                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsu onsectetur
                                    adipiscing elit. .
                                </li>

                                <li class="blog-td-text-item">
                                    Amet lorem senectus eu erat id urna, augue nulla eros. Eget mauris massa, sagittis
                                    in adipiscing posuere ante. Rhoncus, viverra non dui, in et ullamcorper ultrices.
                                </li>

                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet,
                                    consectetu.
                                </li>

                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscin tetur adipiscing elit. Amet lorem
                                    senectus posuere ante. Rhoncus, viverra non dui, in et ullamcorper ultrices.
                                </li>
                            </ul>

                            <div class="blog-td-text-title">
                                Quyền lợi nhân viên
                            </div>
                            <ul class="blog-td-text-list blue">
                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsu onsectetur
                                    adipiscing elit. .
                                </li>

                                <li class="blog-td-text-item">
                                    Amet lorem senectus eu erat id urna, augue nulla eros. Eget mauris massa, sagittis
                                    in adipiscing posuere ante. Rhoncus, viverra non dui, in et ullamcorper ultrices.
                                </li>

                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet,
                                    consectetu.
                                </li>

                                <li class="blog-td-text-item">
                                    Lorem ipsum dolor sit amet, consectetur adipiscin tetur adipiscing elit. Amet lorem
                                    senectus posuere ante. Rhoncus, viverra non dui, in et ullamcorper ultrices.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="blog-td-text-right d-item">
                        <div class="blog-td-text-right-box">
                            <div class="blog-td-text-right-box-img">
                                <div class="blog-td-text-right-img">
                                    <img src="./assets/images/blogDetailsRight.png" alt="">
                                </div>
                            </div>
                            <div class="blog-td-text-right-box-title">
                                Tìm hiểu thêm về
                                Royal Island
                            </div>
                            <a href="" class="btn">
                                <span class="btn-inner">Xem chi tiết</span>
                                <span class="btn-icon-right">
                                    <img src="./assets/images/arrow-upper-right.svg" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recruitment-related">
            <div class="container">
                <div class="recruitment-related-title">
                    <div class="recruitment-related-title-bf">
                        ROYAL
                    </div>
                    <div class="recruitment-related-title-at">
                        TUYỂN DỤNG LIÊN QUAN
                    </div>
                </div>


                <div class="recruitment-related-list d-wrap free-slide">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide d-item d-3">
                                <div class="recruitment-related-item">
                                    <div class="recruitment-related-img">
                                        <img src="./assets/images/relepng.png" alt="">
                                    </div>
                                    <div class="recruitment-related-content">
                                        <a href="" class="recruitment-related-title-post">
                                            Nhân viên phát triển kinh doanh - Marketing
                                        </a>
                                        <ul class="recruitment-related-list-box">
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/mapRele.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Địa điểm
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    TP Hồ Chí Minh
                                                </div>
                                            </li>
        
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/clock.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Thời hạn
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    18/04/2023 - 18/06/2023
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="recruitment-related-text">
                                            Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi sapien.
                                        </div>
                                        <a href="" class="recruitment-related-link">
                                            <span class="recruitment-related-link-text">
                                                Xem tất cả
                                            </span>
                                            <span class="recruitment-related-link-icon">
                                                <img src="./assets/images/arrow-upper-right 11.svg" alt="">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide d-item d-3">
                                <div class="recruitment-related-item">
                                    <div class="recruitment-related-img">
                                        <img src="./assets/images/relepng.png" alt="">
                                    </div>
                                    <div class="recruitment-related-content">
                                        <a href="" class="recruitment-related-title-post">
                                            Nhân viên phát triển kinh doanh - Marketing
                                        </a>
                                        <ul class="recruitment-related-list-box">
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/mapRele.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Địa điểm
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    TP Hồ Chí Minh
                                                </div>
                                            </li>
        
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/clock.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Thời hạn
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    18/04/2023 - 18/06/2023
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="recruitment-related-text">
                                            Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi sapien.
                                        </div>
                                        <a href="" class="recruitment-related-link">
                                            <span class="recruitment-related-link-text">
                                                Xem tất cả
                                            </span>
                                            <span class="recruitment-related-link-icon">
                                                <img src="./assets/images/arrow-upper-right 11.svg" alt="">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide d-item d-3">
                                <div class="recruitment-related-item">
                                    <div class="recruitment-related-img">
                                        <img src="./assets/images/relepng.png" alt="">
                                    </div>
                                    <div class="recruitment-related-content">
                                        <a href="" class="recruitment-related-title-post">
                                            Nhân viên phát triển kinh doanh - Marketing
                                        </a>
                                        <ul class="recruitment-related-list-box">
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/mapRele.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Địa điểm
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    TP Hồ Chí Minh
                                                </div>
                                            </li>
        
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/clock.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Thời hạn
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    18/04/2023 - 18/06/2023
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="recruitment-related-text">
                                            Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi sapien.
                                        </div>
                                        <a href="" class="recruitment-related-link">
                                            <span class="recruitment-related-link-text">
                                                Xem tất cả
                                            </span>
                                            <span class="recruitment-related-link-icon">
                                                <img src="./assets/images/arrow-upper-right 11.svg" alt="">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide d-item d-3">
                                <div class="recruitment-related-item">
                                    <div class="recruitment-related-img">
                                        <img src="./assets/images/relepng.png" alt="">
                                    </div>
                                    <div class="recruitment-related-content">
                                        <a href="" class="recruitment-related-title-post">
                                            Nhân viên phát triển kinh doanh - Marketing
                                        </a>
                                        <ul class="recruitment-related-list-box">
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/mapRele.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Địa điểm
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    TP Hồ Chí Minh
                                                </div>
                                            </li>
        
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/clock.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Thời hạn
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    18/04/2023 - 18/06/2023
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="recruitment-related-text">
                                            Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi sapien.
                                        </div>
                                        <a href="" class="recruitment-related-link">
                                            <span class="recruitment-related-link-text">
                                                Xem tất cả
                                            </span>
                                            <span class="recruitment-related-link-icon">
                                                <img src="./assets/images/arrow-upper-right 11.svg" alt="">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide d-item d-3">
                                <div class="recruitment-related-item">
                                    <div class="recruitment-related-img">
                                        <img src="./assets/images/relepng.png" alt="">
                                    </div>
                                    <div class="recruitment-related-content">
                                        <a href="" class="recruitment-related-title-post">
                                            Nhân viên phát triển kinh doanh - Marketing
                                        </a>
                                        <ul class="recruitment-related-list-box">
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/mapRele.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Địa điểm
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    TP Hồ Chí Minh
                                                </div>
                                            </li>
        
                                            <li class="recruitment-related-item-box">
                                                <div class="recruitment-related-box-ic">
                                                    <img src="./assets/images/clock.svg" alt="">
                                                </div>
                                                <div class="recruitment-related-box-des">
                                                    Thời hạn
                                                </div>
                                                <div class="recruitment-related-box-text">
                                                    18/04/2023 - 18/06/2023
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="recruitment-related-text">
                                            Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi sapien.
                                        </div>
                                        <a href="" class="recruitment-related-link">
                                            <span class="recruitment-related-link-text">
                                                Xem tất cả
                                            </span>
                                            <span class="recruitment-related-link-icon">
                                                <img src="./assets/images/arrow-upper-right 11.svg" alt="">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navi-box-cus">
                            <div class="swiper-navigation circle pri prev swiper-abs ">
                                <i class="fas fa-arrow-left"></i>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-navigation circle pri next swiper-abs ">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </main>








    <!-- <div class="links-main">
        <ul class="links-main-list">
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vzalo.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vMess.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vtiktok.svg" alt="">
                </a>
            </li>
            <li class="links-main-item scroll-to-top">
                <div class="link-items">
                    <span class="items-top" href="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                    </span>



                </div>

            </li>
        </ul>
    </div> -->


    <footer class="footer">
        <div class="container">
            <div class="footer-content d-wrap">
                <div class="footer-content-left d-2 d-item">
                    <a href="" class="footer-logo">
                        <img src="./assets/images/logoFt.svg" alt="">
                    </a>
                    <div class="footer-content-left-text">
                        Công ty Khách sạn Hòn Đảo Hoàng Gia là doanh nghiệp hoạt động trong các lĩnh vực đầu tư, phát
                        triển, kinh doanh dịch vụ du lịch, khách sạn, hệ thống chăm sóc sức khỏe và spa cao cấp...
                    </div>
                    <ul class="footer-content-left-list">
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/face.svg" alt="">
                            </a>
                        </li>
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/insta.svg" alt="">
                            </a>
                        </li>

                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/linkin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-content-right d-2 d-item">
                    <ul class="footer-content-right-list">
                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/map.svg" alt=''>
                                </span>
                                Số 22 Khởi Nghĩa Bắc Sơn, P.10, TP. Đà Lạt, tỉnh Lâm Đồng
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/office-building 1.svg" alt=''>
                                </span>
                                72 – 74, đường B4, P. An Lợi Đông, TP. Thủ Đức, TP.HCM
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/email 1.svg" alt=''>
                                </span>
                                info@royalisland.vn
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/phone.svg" alt=''>
                                </span>
                                028 (3) 535 6556
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Trang chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Giới thiệu
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Lữu hành & Lưu trú
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Spa & Welness chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Căn hộ dịch vụ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Mỹ phẩm
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Tin tức & Sự kiện
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Nguồn nhân lực
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Liên hệ
                    </a>
                </li>

            </ul>
        </div>
        <div class="footer-link-mona">
            <img src="./assets/images/Signature 2.png" alt="">
        </div>
    </footer>


    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>