<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>

    <header class="header header-home">
        <div class="container">
            <div class="header-content d-wrap">
                <div class="header-content-btn d-item">
                    <div class="header-content-btn-img black">
                        <img src="./assets/images/btnMenusvg.svg" alt="">
                    </div>

                    <div class="header-content-btn-img yellow">
                        <img src="./assets/images/btnMenusvg2.svg" alt="">
                    </div>
                </div>

                <div class="header-content-logo d-item">
                    <a href="" class="header-content-logo-img black">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>

                    <a href="" class="header-content-logo-img yellow">
                        <img src="./assets/images/logo2.svg" alt="">
                    </a>
                </div>


                <div class="header-content-language d-item">
                    <ul class="header-content-language-list">
                        <li class="header-content-language-item active">
                            <a href="" class="header-content-language-link">
                                vietnamese
                            </a>
                        </li>
                        <li class="header-content-language-item">
                            <a href="" class="header-content-language-link">
                                english
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <div class="home-intro">
        <div class="home-intro-bg">
            <div class="home-intro-bg-left">

            </div>

            <div class="home-intro-bg-center">
                <div class="home-intro-bg-center-top">
                    <img src="./assets/images/introLogo.png" alt="">
                </div>

                <div class="home-intro-bg-center-bottom"></div>
            </div>

            <div class="home-intro-bg-right">

            </div>
        </div>
        <div class="home-intro-title">
            <div class="home-intro-title-box">
                <div class="home-intro-title-text">
                    ROYAL
                </div>
            </div>

            <div class="home-intro-title-box">
                <div class="home-intro-title-text">
                    ISLAND
                </div>
            </div>

        </div>
    </div>


    <div class="menu-drop">
        <div class="menu-drop-exits">
            <i class="fal fa-times"></i>
        </div>

        <ul class="menu-drop-list">
            <li class="menu-item actived">
                <a href="" class="menu-link">
                    Trang chủ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Giới thiệu
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Khách sạn
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Spa & Wellness
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Căn hộ dịch vụ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Hệ thống cửa hàng mỹ phẩm
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tin tức & Sự kiện
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tuyển dụng
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Liên hệ
                </a>
            </li>
        </ul>

        <div class="menu-drop-img">
            <img src="./assets/images/logo.svg" alt="">
        </div>
    </div>

    <div class="header-modal"></div>




    <main class="main">
      
        <div class="banner-home">
            <div class="banner-home-wrapper">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="banner-home-item">
                                <div class="banner-home-img">
                                    <img src="./assets/images/homeAB3.png " alt="">
                                </div>
                                <div class="banner-home-title">
                                    <div class="banner-home-title-text">
                                        ROYAL ISLAND
                                    </div>
                                </div>
                                <div class="banner-home-box">
                                    <img src="./assets/images/btnScrollHome.png" alt="">
                                </div>
                            </div>
                        </div>
    
                        <div class="swiper-slide">
                            <div class="banner-home-item">
                                <div class="banner-home-img">
                                    <img src="./assets/images/homeAB2.png " alt="">
                                </div>
                                <div class="banner-home-title">
                                    <div class="banner-home-title-text">
                                        ROYAL ISLAND
                                    </div>
                                </div>
                                <div class="banner-home-box">
                                    <img src="./assets/images/btnScrollHome.png" alt="">
                                </div>
                            </div>
                        </div>
    
                        <div class="swiper-slide">
                            <div class="banner-home-item">
                                <div class="banner-home-img">
                                    <img src="./assets/images/homeAB4.png " alt="">
                                </div>
                                <div class="banner-home-title">
                                    <div class="banner-home-title-text">
                                        ROYAL ISLAND
                                    </div>
                                </div>
                                <div class="banner-home-box">
                                    <img src="./assets/images/btnScrollHome.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination pagi-custom"></div>
            </div>
        </div>

        <div class="home-intr">
            <div class="home-intr-top">
                <div class="intro-intro-top">
                    <div class="recruitment-related-title">
                        <div class="recruitment-related-title-bf">
                            ROYAL
                        </div>
                        <div class="recruitment-related-title-at">
                            BRING BELIEFS.
                        </div>
                    </div>
                    
                    <div class="intro-intr-top-img">

                    </div>
                </div>
            </div>
            <div class="home-intr-center">
                <div class="home-intr-center-left">
                    <div class="home-intr-center-left-img-1">
                        <div class="home-intr-center-left-img-1-img">
                            <img src="./assets/images/homeAB1.png" alt="">
                        </div>
                       
                    </div>
                    <div class="home-intr-center-left-img-2">
                        <div class="home-intr-center-left-img-2-img">
                            <img src="./assets/images/homeAB1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="about-intr-title-mo">
                    ISLAND
                </div>
            </div>
            <div class="home-intr-bottom">
                <div class="about-intro-title">
                    GET VALUES.
                </div>
            </div>
        </div>

        <div class="home-about">
            <div class="container other">
                <div class="home-about-content-top d-wrap">
                    <div class="home-about-top-left d-item">
                        <div class="home-about-top-left-content">
                            <div class="home-about-top-left-img">
                                <img src="./assets/images/homeABV.png" alt="">
                            </div>
                        </div>
                    </div>  
                    <div class="home-about-top-right d-item">
                        <div class="home-about-top-right-content">
                            <div class="home-about-top-right-top">
                                <div class="recruitment-related-title">
                                    <div class="recruitment-related-title-bf">
                                        ROYAL
                                    </div>
                                    <div class="recruitment-related-title-at">
                                        BRING BELIEFS.
                                    </div>
                                </div>
                                <a href="" class="btn brown">
                                    <span class="btn-inner">Xem chi tiết</span>
                                    <span class="btn-icon-right">
                                        <img src="./assets/images/arrow-upper-right.svg" alt="">
                                    </span>
                                </a>
                            </div>

                            <div class="home-about-top-right-bottom">
                                <div class="home-about-top-right-bottom-text">
                                    Lorem ipsum dolor sit amet consectetur. Ullamcorper arcu tellus ullamcorper vestibulum. Habitasse dui gravida sed ut vivamus volutpat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="home-about-content-bottom">
                    <div class="home-about-content-bottom-img">
                        <img src="./assets/images/homeabv2.png" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="home-hotel">
            <div class="title-hotel-spa">
                <div class="container other">
                    <div class="text-hotel-spa">
                        DỊCH VỤ
                    </div>
                </div>
            </div>
            <div class="about-overview">
                <div class="container other">
                   <div class="home-hotel-title">
                    KHÁCH SẠN
                   </div>
                  
                    <div class="about-overview-content d-wrap">
                        <div class="about-overview-left d-item">
                            <div class="about-overview-left-list ">
                                <div class="about-overview-left-item">
                                    <div class="about-overview-left-item-box">
                                        <div class="about-overview-left-title">
                                            Hòn Đảo Hoàng Gia
                                        </div>
                                        <div class="product-about-navi">
                                            <div class="btn-pro-ab prev">
                                                <i class="fal fa-arrow-left"></i>
                                            </div>
                                            <div class="btn-pro-ab next">
                                                <i class="fal fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="about-overview-left-note">
                                        Lựa chọn tuyệt vời dành cho bạn
                                    </div>
    
                                    <ul class="about-overview-left-list-con">
                                        <li class="about-overview-left-item-con">
                                            <strong>Công ty Khách sạn Hòn Đảo Hoàng Gia</strong> là doanh nghiệp hoạt động
                                            trong các lĩnh vực đầu tư, phát triển, kinh doanh dịch vụ du lịch, khách sạn, hệ
                                            thống chăm sóc sức khỏe và spa cao cấp...
                                        </li>
    
                                        <li class="about-overview-left-item-con">
                                            Tại Việt Nam, du lịch được đánh giá là một trong 3 ngành kinh tế mũi nhọn được
                                            nhà nước chú trọng đầu tư cơ sở hạ tầng, không ngừng phát triển và đóng góp rất
                                            lớn cho nền kinh tế đất nước. Tận dụng lợi thế đó, <strong>Công ty Khách sạn Hòn
                                                Đảo Hoàng Gia</strong> đã và đang tập trung đầu tư, phát triển
                                        </li>
    
                                        <li class="about-overview-left-item-con">
                                            Tại Việt Nam, du lịch được đánh giá là một trong 3 ngành kinh tế mũi nhọn được
                                            nhà nước chú trọng đầu tư cơ sở hạ tầng, không ngừng phát triển và đóng góp rất
                                            lớn cho nền kinh tế đất nước. Tận dụng lợi thế đó, <strong>Công ty Khách sạn Hòn
                                                Đảo Hoàng Gia</strong> đã và đang tập trung đầu tư, phát triển
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
    
                        <div class="about-overview-right d-item">
                            <div class="about-overview-right-list">
                                <div class="swiper mySwiperRight">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="about-overview-right-item">
                                                <div class="about-overview-right-item-img">
                                                    <img src="./assets/images/aboutOv.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="about-overview-right-item">
                                                <div class="about-overview-right-item-img">
                                                    <img src="./assets/images/aboutOv.png" alt="">
                                                </div>
    
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="about-overview-right-item">
                                                <div class="about-overview-right-item-img">
                                                    <img src="./assets/images/aboutOv.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="home-hotel-intro">
            <div class="home-hotel-intro-bg">
                <img src="./assets/images/homeHotelIntro.png" alt="">
            </div>

            <div class="home-hotel-intro-content">
                <div class="home-hotel-intro-title">
                    CĂN HỘ DỊCH VỤ
                </div>

                <div class="home-hotel-intro-text">
                    Lorem ipsum dolor sit amet consectetur. Enim pellentesque morbi viverra odio neque netus. Viverra arcu elit tellus massa egestas. Massa ornare lacus purus maecenas curabitur.
                </div>

                <a href="" class="btn trans">
                    <span class="btn-inner">Xem chi tiết</span>
                    <span class="btn-icon-right">
                        <img src="./assets/images/arrow-upper-right.svg" alt="">
                    </span>
                </a>
            </div>
        </div>

        <div class="home-spa">
            <div class="title-hotel-spa">
                <div class="container other">
                    <div class="text-hotel-spa">
                        DỊCH VỤ
                    </div>
                </div>
            </div>
            <div class="home-spa-box">
                <div class="container other">
                    <div class="home-spa-content d-wrap">
                        <div class="home-spa-left d-item">
                            <div class="home-spa-left-content">
                                <div class="news-outstanding-title">
                                    <div class="news-outstanding-title-icon">
                                        <img src="./assets/images/Star 4.svg" alt="">
                                    </div>
                                    BÀI VIẾT NỔI BẬT
                                    <div class="news-outstanding-title-icon">
                                        <img src="./assets/images/Star 4.svg" alt="">
                                    </div>
                                </div>

                                <div class="home-spa-left-img">
                                    <img src="./assets/images/homeSpa.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="home-spa-right d-item">
                            <div class="home-spa-right-content">
                                <div class="home-spa-right-box">
                                    <div class="home-spa-right-img">
                                        <img src="./assets/images/spaRight.png" alt="">
                                    </div>
                                    
                                </div>

                                <div class="home-spa-right-text">
                                    <div class="home-spa-right-text-text">
                                        Lorem ipsum dolor sit amet consectetur. Faucibus velit et donec sit erat pulvinar at nunc. Dui commodo turpis ac pretium arcu molestie sollicitudin a aliquet. In amet tincidunt platea consequat ut vitae mauris.
                                    </div>
                                    <a href="" class="btn white">
                                        <span class="btn-inner">Xem chi tiết</span>
                                        <span class="btn-icon-right">
                                            <img src="./assets/images/arrow-upper-right.svg" alt="">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="home-new">
            <div class="container other">
                <div class="home-new-content">
                    <div class="home-new-top">
                        <div class="home-new-top-title">
                            Tin tức & Sự kiện
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>






   


    <footer class="footer">
        <div class="container">
            <div class="footer-content d-wrap">
                <div class="footer-content-left d-2 d-item">
                    <a href="" class="footer-logo">
                        <img src="./assets/images/logoFt.svg" alt="">
                    </a>
                    <div class="footer-content-left-text">
                        Công ty Khách sạn Hòn Đảo Hoàng Gia là doanh nghiệp hoạt động trong các lĩnh vực đầu tư, phát
                        triển, kinh doanh dịch vụ du lịch, khách sạn, hệ thống chăm sóc sức khỏe và spa cao cấp...
                    </div>
                    <ul class="footer-content-left-list">
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/face.svg" alt="">
                            </a>
                        </li>
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/insta.svg" alt="">
                            </a>
                        </li>

                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/linkin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-content-right d-2 d-item">
                    <ul class="footer-content-right-list">
                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/map.svg" alt=''>
                                </span>
                                Số 22 Khởi Nghĩa Bắc Sơn, P.10, TP. Đà Lạt, tỉnh Lâm Đồng
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/office-building 1.svg" alt=''>
                                </span>
                                72 – 74, đường B4, P. An Lợi Đông, TP. Thủ Đức, TP.HCM
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/email 1.svg" alt=''>
                                </span>
                                info@royalisland.vn
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/phone.svg" alt=''>
                                </span>
                                028 (3) 535 6556
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Trang chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Giới thiệu
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Lữu hành & Lưu trú
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Spa & Welness chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Căn hộ dịch vụ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Mỹ phẩm
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Tin tức & Sự kiện
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Nguồn nhân lực
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Liên hệ
                    </a>
                </li>

            </ul>
        </div>
        <div class="footer-link-mona">
            <img src="./assets/images/Signature 2.png" alt="">
        </div>
    </footer>


    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/gsap/scrollTrigger.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>