<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>

    <header class="header ">
        <div class="container">
            <div class="header-content d-wrap">
                <div class="header-content-btn d-item">
                    <div class="header-content-btn-img black">
                        <img src="./assets/images/btnMenusvg.svg" alt="">
                    </div>

                    <div class="header-content-btn-img yellow">
                        <img src="./assets/images/btnMenusvg2.svg" alt="">
                    </div>
                </div>

                <div class="header-content-logo d-item">
                    <a href="" class="header-content-logo-img black">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>

                    <a href="" class="header-content-logo-img yellow">
                        <img src="./assets/images/logo2.svg" alt="">
                    </a>
                </div>


                <div class="header-content-language d-item">
                    <ul class="header-content-language-list">
                        <li class="header-content-language-item active">
                            <a href="" class="header-content-language-link">
                                vietnamese
                            </a>
                        </li>
                        <li class="header-content-language-item">
                            <a href="" class="header-content-language-link">
                                english
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>


    <div class="menu-drop">
        <div class="menu-drop-exits">
            <i class="fal fa-times"></i>
        </div>

        <ul class="menu-drop-list">
            <li class="menu-item active">
                <a href="" class="menu-link">
                    Trang chủ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Giới thiệu
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Khách sạn
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Spa & Wellness
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Căn hộ dịch vụ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Hệ thống cửa hàng mỹ phẩm
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tin tức & Sự kiện
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tuyển dụng
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Liên hệ
                </a>
            </li>
        </ul>

        <div class="menu-drop-img">
            <img src="./assets/images/logo.svg" alt="">
        </div>
    </div>

    <div class="header-modal"></div>


    <main class="main pt">
        <div class="breadcrumbs">
            <div class="container">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item">
                        <a href="#">Trang chủ</a>
                    </li>

                    <li class="breadcrumbs-item current">
                        <a href="#">Thông tin tài khoản</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact-slide ">
            <div class="contact-slide-list d-wrap">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide d-item">
                            <div class="contact-slide-item">
                                <div class="contact-slide-item-img-box">
                                    <div class="contact-slide-item-img">
                                        <img src="./assets/images/hotel.png" alt="">
                                    </div>
                                </div>
                                <div class="contact-slide-item-text-box">
                                    <div class="contact-slide-item-text">
                                        ROYAL
                                    </div>
                                    <div class="contact-slide-item-text">
                                        ISLAND
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide d-item">
                            <div class="contact-slide-item">
                                <div class="contact-slide-item-img-box">
                                    <div class="contact-slide-item-img">
                                        <img src="./assets/images/hotel.png" alt="">
                                    </div>
                                </div>
                                <div class="contact-slide-item-text-box">
                                    <div class="contact-slide-item-text">
                                        ROYAL
                                    </div>
                                    <div class="contact-slide-item-text">
                                        ISLAND
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide d-item">
                            <div class="contact-slide-item">
                                <div class="contact-slide-item-img-box">
                                    <div class="contact-slide-item-img">
                                        <img src="./assets/images/hotel.png" alt="">
                                    </div>
                                </div>
                                <div class="contact-slide-item-text-box">
                                    <div class="contact-slide-item-text">
                                        ROYAL
                                    </div>
                                    <div class="contact-slide-item-text">
                                        ISLAND
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination pagi-custom"></div>
            </div>

            <div class="line-tt custom">
                <div class="line"></div>
            </div>
        </div>

        <div class="sh-title">
            <div class="container other-2">
                <div class="sh-title-content">
                    <div class="sh-title-img-tt left-img">
                        <img src="./assets/images/imgleft.png" alt="">
                    </div>
                    <div class="sh-title-content-wrap">
                        <div class="sh-title-title">
                            KHÁCH SẠN
                        </div>
                        <ul class="sh-title-text">
                            Wellness & Spa là khái niệm đang trở nên ngày càng phổ biến trong ngành du lịch, chăm sóc
                            sức khỏe trên thế giới và cả Việt Nam. Theo đó, nhu cầu thư giãn, chăm sóc sức khỏe và sắc
                            đẹp cũng trở thành một trong những lựa chọn hàng đầu của những người biết quan tâm đến chất
                            lượng cuộc sống. Nắm bắt được xu hướng đó, Royal Island đã thiết kế và đầu tư hệ thống
                            Wellness & Spa nhằm mang lại hành trình trải nghiệm wellness đích thực, lấy cảm hứng từ
                            thiên nhiên để cung cấp cho khách hàng những liệu trình chăm sóc sức khỏe thể chất và tinh
                            thần với chất lượng cao nhất.
                        </ul>

                        <div class="sh-title-box">
                            <div class="sh-title-box-img">
                                <img src="./assets/images/sh-img.png" alt="">
                            </div>
                            <div class="sh-title-box-arr">
                                <div class="sh-title-box-arr-img">
                                    <img src="./assets/images/sh-arrow.png" alt="">
                                </div>
                                <div class="sh-title-box-arr-1">
                                    <div class="sh-title-box-arr-2">
                                        <div class="sh-title-box-arr-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sh-title-img-tt right-img">
                        <img src="./assets/images/imgright.png" alt="">
                    </div>
                </div>

            </div>
        </div>


        <div class="sh-des">
            <div class="sh-des-left">
                <div class="sh-des-left-img-1">
                    <img src="./assets/images/shdes1.png" alt="">
                </div>
                <div class="sh-des-left-img-2">
                    <img src="./assets/images/shdes2.png" alt="">
                </div>
            </div>
            <div class="sh-des-content">
                <div class="title-main">
                    CONCEPT 1
                </div>

                <div class="sh-des-text">
                    Với hệ thống các phòng massage trị liệu và xông hơi đa dạng, Wellness & Spa Center cung cấp các loại
                    massage chuyên nghiệp từ khắp nơi trên thế giới như: Thái, Nhật, Bali, Việt Nam; cùng hệ thống hồ
                    ngâm nước nóng, nước lạnh, bể sục… giúp thư giãn xoa dịu, kích thích sự thay mới của làn da, kích
                    hoạt các trung tâm giải độc của cơ thể bằng muối tự nhiên và khoáng chất giúp cơ thể được làm đẹp từ
                    trong tra ngoài.
                    kích hoạt các trung tâm giải độc của cơ thể bằng muối tự nhiên và khoáng chất giúp cơ thể được làm
                    đẹp từ trong tra ngoài

                </div>
            </div>
            <div class="sh-des-right">
                <div class="sh-des-right-img-1">
                    <img src="./assets/images/shdes3.png" alt="">
                    <div class="sh-des-play">
                        <a href="./assets/videos/pexels-olya-kobruseva-6800632.mp4" class="sh-des-play-img vdsec-play">
                            <span class="sh-des-play-img-img"><img src="./assets/images/Play.svg" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="sh-des-right-img-2">
                    <img src="./assets/images/shdes4.png" alt="">
                </div>
            </div>

        </div>


        <div class="hotel-des">

            <div class="recruitment-related-title">
                <div class="recruitment-related-title-bf">
                    ROYAL
                </div>
                <div class="recruitment-related-title-at">
                    SẢN PHẨM CỦA CHÚNG TÔI
                </div>
            </div>

            <div class="hotel-des-text">
                Hotel & Onsen Spa tọa lạc tại các vị trí đẹp, thuận tiện trên khắp Việt Nam là lựa chọn hàng đầu trong
                tâm trí cho những ai muốn tìm kiếm sự thư giãn, nghỉ ngơi, hồi phục sức khỏe, tái tạo năng lượng trong
                những chuyến du lịch cùng gia đình, người thân và bạn bè.
            </div>

            <div class="hotel-des-list">
                <ul class="dich-vu-apm-left-con-rt-list">
                    <li class="dich-vu-apm-left-con-rt-item">
                        <a href="" class="dich-vu-apm-left-con-rt-link">
                            <span class="dich-vu-apm-left-con-rt-icon">
                                <img src="./assets/images/mapser.svg" alt="">
                            </span>

                            22 Khởi Nghĩa Bắc Sơn, P.10,
                            TP. Đà Lạt
                        </a>
                    </li>
                    <li class="dich-vu-apm-left-con-rt-item">
                        <a href="" class="dich-vu-apm-left-con-rt-link">
                            <span class="dich-vu-apm-left-con-rt-icon">
                                <img src="./assets/images/timeser.svg" alt="">
                            </span>

                            10.00 AM – 21:00 PM
                        </a>
                    </li>
                    <li class="dich-vu-apm-left-con-rt-item">
                        <a href="" class="dich-vu-apm-left-con-rt-link">
                            <span class="dich-vu-apm-left-con-rt-icon">
                                <img src="./assets/images/email ser.svg" alt="">
                            </span>

                            info@royalisland.vn
                        </a>
                    </li>
                    <li class="dich-vu-apm-left-con-rt-item">
                        <a href="" class="dich-vu-apm-left-con-rt-link">
                            <span class="dich-vu-apm-left-con-rt-icon">
                                <img src="./assets/images/phoneser.svg" alt="">
                            </span>

                            (+84) 946 650 555
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dich-vu-more">
                <div class="dich-vu-more-list gallery">
                    <div class="dich-vu-more-list-image">
                        <div class="swiper mySwiperTop">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more1.png">
                                        <img src="./assets/images/more1.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more2.png">
                                        <img src="./assets/images/more2.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more3.png">
                                        <img src="./assets/images/more3.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more4.png">
                                        <img src="./assets/images/more4.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more1.png">
                                        <img src="./assets/images/more1.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more2.png">
                                        <img src="./assets/images/more2.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more3.png">
                                        <img src="./assets/images/more3.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more4.png">
                                        <img src="./assets/images/more4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dich-vu-more-list-image">
                        <div class="swiper mySwiperBottom">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more1.png">
                                        <img src="./assets/images/more1.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more2.png">
                                        <img src="./assets/images/more2.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more3.png">
                                        <img src="./assets/images/more3.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more4.png">
                                        <img src="./assets/images/more4.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more1.png">
                                        <img src="./assets/images/more1.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more2.png">
                                        <img src="./assets/images/more2.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more3.png">
                                        <img src="./assets/images/more3.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dich-vu-more-img gItem" data-src="./assets/images/more4.png">
                                        <img src="./assets/images/more4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="" class="btn brown ">
                <span class="btn-inner">Xem chi tiết</span>
                <span class="btn-icon-right">
                    <img src="./assets/images/arrow-upper-right.svg" alt="">
                </span>
            </a>
        </div>

        <div class="hotel-des-2">
            <div class="hotel-des-2-content d-wrap">
                <div class="hotel-des-2-left d-item">
                    <div class="hotel-des-2-top">
                        <div class="hotel-des-2-top-list">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="hotel-des-2-top-item">
                                            <img src="./assets/images/khachsansl.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>



    <footer class="footer">
        <div class="container">
            <div class="footer-content d-wrap">
                <div class="footer-content-left d-2 d-item">
                    <a href="" class="footer-logo">
                        <img src="./assets/images/logoFt.svg" alt="">
                    </a>
                    <div class="footer-content-left-text">
                        Công ty Khách sạn Hòn Đảo Hoàng Gia là doanh nghiệp hoạt động trong các lĩnh vực đầu tư, phát
                        triển, kinh doanh dịch vụ du lịch, khách sạn, hệ thống chăm sóc sức khỏe và spa cao cấp...
                    </div>
                    <ul class="footer-content-left-list">
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/face.svg" alt="">
                            </a>
                        </li>
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/insta.svg" alt="">
                            </a>
                        </li>

                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/linkin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-content-right d-2 d-item">
                    <ul class="footer-content-right-list">
                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/map.svg" alt=''>
                                </span>
                                Số 22 Khởi Nghĩa Bắc Sơn, P.10, TP. Đà Lạt, tỉnh Lâm Đồng
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/office-building 1.svg" alt=''>
                                </span>
                                72 – 74, đường B4, P. An Lợi Đông, TP. Thủ Đức, TP.HCM
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/email 1.svg" alt=''>
                                </span>
                                info@royalisland.vn
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/phone.svg" alt=''>
                                </span>
                                028 (3) 535 6556
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Trang chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Giới thiệu
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Lữu hành & Lưu trú
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Spa & Welness chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Căn hộ dịch vụ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Mỹ phẩm
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Tin tức & Sự kiện
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Nguồn nhân lực
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Liên hệ
                    </a>
                </li>

            </ul>
        </div>
        <div class="footer-link-mona">
            <img src="./assets/images/Signature 2.png" alt="">
        </div>
    </footer>


    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>