<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>

    <header class="header ">
        <div class="container">
            <div class="header-content d-wrap">
                <div class="header-content-btn d-item">
                    <div class="header-content-btn-img black">
                        <img src="./assets/images/btnMenusvg.svg" alt="">
                    </div>

                    <div class="header-content-btn-img yellow">
                        <img src="./assets/images/btnMenusvg2.svg" alt="">
                    </div>
                </div>

                <div class="header-content-logo d-item">
                    <a href="" class="header-content-logo-img black">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>

                    <a href="" class="header-content-logo-img yellow">
                        <img src="./assets/images/logo2.svg" alt="">
                    </a>
                </div>


                <div class="header-content-language d-item">
                    <ul class="header-content-language-list">
                        <li class="header-content-language-item active">
                            <a href="" class="header-content-language-link">
                                vietnamese
                            </a>
                        </li>
                        <li class="header-content-language-item">
                            <a href="" class="header-content-language-link">
                                english
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>


    <div class="menu-drop">
        <div class="menu-drop-exits">
            <i class="fal fa-times"></i>
        </div>

        <ul class="menu-drop-list">
            <li class="menu-item active">
                <a href="" class="menu-link">
                    Trang chủ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Giới thiệu
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Khách sạn
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Spa & Wellness
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Căn hộ dịch vụ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Hệ thống cửa hàng mỹ phẩm
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tin tức & Sự kiện
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tuyển dụng
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Liên hệ
                </a>
            </li>
        </ul>

        <div class="menu-drop-img">
            <img src="./assets/images/logo.svg" alt="">
        </div>
    </div>

    <div class="header-modal"></div>




    <main class="main pt">
        <div class="breadcrumbs">
            <div class="container">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item">
                        <a href="#">Trang chủ</a>
                    </li>

                    <li class="breadcrumbs-item current">
                        <a href="#">Thông tin tài khoản</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="my-pham">
            <div class="my-pham-container">
                <div class="my-pham-content d-wrap">
                    <div class="my-pham-content-left d-item">
                        <div class="my-pham-left-content">
                            <div class="my-pham-left-content-title" data-aos="fade-in" data-aos-delay="200">
                                ROYAL Beauty & Health Boutique
                            </div>
                            <div class="my-pham-left-content-img">
                                <img src="./assets/images/myPhamLeft.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="my-pham-content-right d-item">
                        <div class="my-pham-right-content">
                            <div class="title-main" data-aos="fade-up">
                                CONCEPT
                            </div>
                            <div class="my-pham-right-content-img-box">
                                <div class="my-pham-right-content-img">
                                    <img src="./assets/images/myPhamRight.png" alt="">
                                </div>
                            </div>
                            <div class="my-pham-right-content-box">
                                <div class="my-pham-right-content-title">
                                    Hệ thống cửa hàng mỹ phẩm chính hãng
                                </div>
                                <div class="my-pham-right-content-text">
                                    ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính hãng, chuyên cung
                                    cấp tại thị trường Việt Nam các sản phẩm về làm đẹp và sức khỏe đến từ các thương
                                    hiệu nổi tiếng từ khắp nơi trên Thế giới: Nhật Bản, Pháp, Đức, Thụy Sĩ, Phần Lan,
                                    Hàn Quốc, Thái Lan.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="brand-logo about">
            <div class="container">
                <div class="brand-logo-content d-wrap">
                    <div class="brand-logo-left d-item">
                        <div class="brand-logo-title">
                            THƯƠNG HIỆU
                        </div>
                        <div class="brand-logo-list">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="brand-logo-item">
                                            <div class="brand-logo-note">
                                                Innisfree Official Store
                                            </div>
                                            <div class="brand-logo-text">
                                                ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính hãng,
                                                chuyên cung cấp tại thị trường Việt Nam.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="brand-logo-item">
                                            <div class="brand-logo-note">
                                                Innisfree Official Store
                                            </div>
                                            <div class="brand-logo-text">
                                                ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính hãng,
                                                chuyên cung cấp tại thị trường Việt Nam.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="brand-logo-item">
                                            <div class="brand-logo-note">
                                                Innisfree Official Store
                                            </div>
                                            <div class="brand-logo-text">
                                                ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính hãng,
                                                chuyên cung cấp tại thị trường Việt Nam.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="brand-logo-item">
                                            <div class="brand-logo-note">
                                                Innisfree Official Store
                                            </div>
                                            <div class="brand-logo-text">
                                                ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính hãng,
                                                chuyên cung cấp tại thị trường Việt Nam.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="brand-logo-item">
                                            <div class="brand-logo-note">
                                                Innisfree Official Store
                                            </div>
                                            <div class="brand-logo-text">
                                                ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính hãng,
                                                chuyên cung cấp tại thị trường Việt Nam.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="brand-logo-item">
                                            <div class="brand-logo-note">
                                                Innisfree Official Store
                                            </div>
                                            <div class="brand-logo-text">
                                                ROYAL Beauty & Health Boutique - Hệ thống phân phối mỹ phẩm chính hãng,
                                                chuyên cung cấp tại thị trường Việt Nam.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="brand-logo-right d-item">
                        <div class="brand-logo-right-content">
                            <div class="brand-logo-right-box box-1">
                                <div class="brand-logo-right-box box-2">
                                    <div class="brand-logo-right-box box-3">
                                        <div class="brand-logo-right-box box-4">
                                            <div class="brand-logo-img-box">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="brand-logo-right-list">
                                <div class="brand-logo-right-item active">
                                    <img src="./assets/images/logo3.svg" alt="">
                                </div>
                                <div class="brand-logo-right-item">
                                    <img src="./assets/images/zara.png" alt="">
                                </div>
                                <div class="brand-logo-right-item">
                                    <img src="./assets/images/Chanel-Logo.png" alt="">
                                </div>
                                <div class="brand-logo-right-item">
                                    <img src="./assets/images/47_Brand_Logo_1.png" alt="">
                                </div>
                                <div class="brand-logo-right-item">
                                    <img src="./assets/images/Spotify_Logo.png" alt="">
                                </div>

                                <div class="brand-logo-right-item">
                                    <img src="./assets/images/The-North-Face-Logo.png" alt="">
                                </div>
                                

                                <!-- <div class="brand-logo-right-item">
                                    <img src="./assets/images/Louis_Vuitton.png" alt="">
                                </div>

                                <div class="brand-logo-right-item">
                                    <img src="./assets/images/Dior_BrandCrowd.png" alt="">
                                </div> 

                                <div class="brand-logo-right-item">
                                    <img src="./assets/images/Dior_BrandCrowd.png" alt="">
                                </div>  -->

                               
                            </div>


                          



                            <div class="brand-list-tt">
                                <div class="brand-item-tt">
                                </div>
                                <div class="brand-item-tt">
                                </div>
                                <div class="brand-item-tt">
                                </div>
                                <div class="brand-item-tt">
                                </div>
                                <div class="brand-item-tt">
                                </div>
                                <div class="brand-item-tt">
                                </div>
                                <div class="brand-item-tt">
                                </div>
                                <div class="brand-item-tt">
                                </div>
                                <div class="brand-item-tt">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>

        <div class="product-about free-slide">
            <div class="container">
                <div class="product-about-title">
                    <div class="recruitment-related-title">
                        <div class="recruitment-related-title-bf">
                            ROYAL
                        </div>
                        <div class="recruitment-related-title-at">
                            SẢN PHẨM CỦA CHÚNG TÔI
                        </div>
                    </div>

                    <div class="product-about-navi">
                        <div class="btn-pro-ab prev">
                            <i class="fal fa-arrow-left"></i>
                        </div>
                        <div class="btn-pro-ab next">
                            <i class="fal fa-arrow-right"></i>
                        </div>
                    </div>
                </div>


                <div class="product-about-list d-wrap">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide d-3 d-item">
                                <div class="product-about-item">
                                    <a href="" class="product-about-item-img">
                                        <img src="./assets/images/productAB.png" alt="">
                                    </a>
                                    <a href="" class="product-about-item-title">
                                        Serum Vegick Chiết Xuất Dứa Dưỡng Sáng Da 150ml
                                    </a>
                                    <div class="product-about-item-text">
                                        Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày.
                                    </div>
                                    <a href="" class="btn brown btn-cv">
                                        <span class="btn-inner">Ứng tuyển ngay</span>
                                        <span class="btn-icon-right">
                                            <img src="./assets/images/arrow-upper-right.svg" alt="">
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="swiper-slide d-3 d-item">
                                <div class="product-about-item">
                                    <a href="" class="product-about-item-img">
                                        <img src="./assets/images/productAB.png" alt="">
                                    </a>
                                    <a href="" class="product-about-item-title">
                                        Serum Vegick Chiết Xuất Dứa Dưỡng Sáng Da 150ml
                                    </a>
                                    <div class="product-about-item-text">
                                        Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày.
                                    </div>
                                    <a href="" class="btn brown btn-cv">
                                        <span class="btn-inner">Ứng tuyển ngay</span>
                                        <span class="btn-icon-right">
                                            <img src="./assets/images/arrow-upper-right.svg" alt="">
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="swiper-slide d-3 d-item">
                                <div class="product-about-item">
                                    <a href="" class="product-about-item-img">
                                        <img src="./assets/images/productAB.png" alt="">
                                    </a>
                                    <a href="" class="product-about-item-title">
                                        Serum Vegick Chiết Xuất Dứa Dưỡng Sáng Da 150ml
                                    </a>
                                    <div class="product-about-item-text">
                                        Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày.
                                    </div>
                                    <a href="" class="btn brown btn-cv">
                                        <span class="btn-inner">Ứng tuyển ngay</span>
                                        <span class="btn-icon-right">
                                            <img src="./assets/images/arrow-upper-right.svg" alt="">
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="swiper-slide d-3 d-item">
                                <div class="product-about-item">
                                    <a href="" class="product-about-item-img">
                                        <img src="./assets/images/productAB.png" alt="">
                                    </a>
                                    <a href="" class="product-about-item-title">
                                        Serum Vegick Chiết Xuất Dứa Dưỡng Sáng Da 150ml
                                    </a>
                                    <div class="product-about-item-text">
                                        Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày.
                                    </div>
                                    <a href="" class="btn brown btn-cv">
                                        <span class="btn-inner">Ứng tuyển ngay</span>
                                        <span class="btn-icon-right">
                                            <img src="./assets/images/arrow-upper-right.svg" alt="">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>







    <footer class="footer">
        <div class="container">
            <div class="footer-content d-wrap">
                <div class="footer-content-left d-2 d-item">
                    <a href="" class="footer-logo">
                        <img src="./assets/images/logoFt.svg" alt="">
                    </a>
                    <div class="footer-content-left-text">
                        Công ty Khách sạn Hòn Đảo Hoàng Gia là doanh nghiệp hoạt động trong các lĩnh vực đầu tư, phát
                        triển, kinh doanh dịch vụ du lịch, khách sạn, hệ thống chăm sóc sức khỏe và spa cao cấp...
                    </div>
                    <ul class="footer-content-left-list">
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/face.svg" alt="">
                            </a>
                        </li>
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/insta.svg" alt="">
                            </a>
                        </li>

                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/linkin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-content-right d-2 d-item">
                    <ul class="footer-content-right-list">
                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/map.svg" alt=''>
                                </span>
                                Số 22 Khởi Nghĩa Bắc Sơn, P.10, TP. Đà Lạt, tỉnh Lâm Đồng
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/office-building 1.svg" alt=''>
                                </span>
                                72 – 74, đường B4, P. An Lợi Đông, TP. Thủ Đức, TP.HCM
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/email 1.svg" alt=''>
                                </span>
                                info@royalisland.vn
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/phone.svg" alt=''>
                                </span>
                                028 (3) 535 6556
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Trang chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Giới thiệu
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Lữu hành & Lưu trú
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Spa & Welness chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Căn hộ dịch vụ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Mỹ phẩm
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Tin tức & Sự kiện
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Nguồn nhân lực
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Liên hệ
                    </a>
                </li>

            </ul>
        </div>
        <div class="footer-link-mona">
            <img src="./assets/images/Signature 2.png" alt="">
        </div>
    </footer>


    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/gsap/scrollTrigger.min.js"></script>
    <script src="./js/library/locomotive/locomotive-scroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>