<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>

    <header class="header ">
        <div class="container">
            <div class="header-content d-wrap">
                <div class="header-content-btn d-item">
                    <div class="header-content-btn-img black">
                        <img src="./assets/images/btnMenusvg.svg" alt="">
                    </div>

                    <div class="header-content-btn-img yellow">
                        <img src="./assets/images/btnMenusvg2.svg" alt="">
                    </div>
                </div>

                <div class="header-content-logo d-item">
                    <a href="" class="header-content-logo-img black">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>

                    <a href="" class="header-content-logo-img yellow">
                        <img src="./assets/images/logo2.svg" alt="">
                    </a>
                </div>


                <div class="header-content-language d-item">
                    <ul class="header-content-language-list">
                        <li class="header-content-language-item active">
                            <a href="" class="header-content-language-link">
                                vietnamese
                            </a>
                        </li>
                        <li class="header-content-language-item">
                            <a href="" class="header-content-language-link">
                                english
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>


    <div class="menu-drop">
        <div class="menu-drop-exits">
            <i class="fal fa-times"></i>
        </div>

        <ul class="menu-drop-list">
            <li class="menu-item active">
                <a href="" class="menu-link">
                    Trang chủ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Giới thiệu
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Khách sạn
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Spa & Wellness
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Căn hộ dịch vụ
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Hệ thống cửa hàng mỹ phẩm
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tin tức & Sự kiện
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Tuyển dụng
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    Liên hệ
                </a>
            </li>
        </ul>

        <div class="menu-drop-img">
            <img src="./assets/images/logo.svg" alt="">
        </div>
    </div>

    <div class="header-modal"></div>


    <!-- <div class="breadcrumbs other">
        <div class="container">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item">
                    <a href="#">Trang chủ</a>
                </li>
               
                <li class="breadcrumbs-item current">
                    <a href="#">Thông tin tài khoản</a>
                </li>
            </ul>
        </div>
    </div> -->

    <main class="main">

    </main>






    <div class="contact-component">
        <div class="container">
            <div class="contact-component-con d-wrap">
                <div class="contact-component-con-left d-2 d-item">
                    <div class="content">
                        <div class="title">
                            <p class="title-text">
                                Liên hệ chúng tôi
                            </p>
                        </div>
                        <div class="input-box">
                            <input value="Trần Quốc Cương" type="text" class="form-control" placeholder="Họ và tên">
                        </div>
                        <div class="input-box">
                            <input value="" type="text" class="form-control" placeholder="Số điện thoại">
                        </div>
                        <div class="input-box">
                            <input value="" type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-box">
                            <textarea class="form-control" value="" type="text" rows="4"
                                placeholder="Nội dung"></textarea>
                        </div>
                        <a href="" class="contact-btn btn hover-2">
                            <span class="btn-inner">
                                Gửi tin
                            </span>
                        </a>

                    </div>
                </div>

                <div class="contact-component-con-right d-2 d-item">
                    <div class="content">
                        <div class="title">
                            <p class="title-text">
                                Thông tin liên hệ
                            </p>
                        </div>
                        <ul class="list-contact">
                            <li class="list-item">
                                <a href="" class="link-item">
                                    <span class="img-icon">
                                        <img src="./assets/images/phone.svg" alt="">
                                    </span>
                                    <span class="content">

                                        0392734903

                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="" class="link-item">
                                    <span class="img-icon">
                                        <img src="./assets/images/location.svg" alt="">
                                    </span>
                                    <span class="content">

                                        C09 An Phú Newcity, Nguyễn Hoàng, An Phú, TP Thủ Đức

                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a class="link-item" href="">
                                    <span class="img-icon">
                                        <img src="./assets/images/mail.svg" alt="">
                                    </span>
                                    <span class="content">

                                        support@schainofficial.com

                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="img-contact">
                            <img src="./assets/images/vimgContact.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="links-main">
        <ul class="links-main-list">
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vzalo.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vMess.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vtiktok.svg" alt="">
                </a>
            </li>
            <li class="links-main-item scroll-to-top">
                <div class="link-items">
                    <span class="items-top" href="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                    </span>



                </div>

            </li>
        </ul>
    </div> -->


    <footer class="footer">
        <div class="container">
            <div class="footer-content d-wrap">
                <div class="footer-content-left d-2 d-item">
                    <a href="" class="footer-logo">
                        <img src="./assets/images/logoFt.svg" alt="">
                    </a>
                    <div class="footer-content-left-text">
                        Công ty Khách sạn Hòn Đảo Hoàng Gia là doanh nghiệp hoạt động trong các lĩnh vực đầu tư, phát
                        triển, kinh doanh dịch vụ du lịch, khách sạn, hệ thống chăm sóc sức khỏe và spa cao cấp...
                    </div>
                    <ul class="footer-content-left-list">
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/face.svg" alt="">
                            </a>
                        </li>
                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/insta.svg" alt="">
                            </a>
                        </li>

                        <li class="footer-content-left-item">
                            <a href="" class="footer-content-left-link">
                                <img src="./assets/images/linkin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-content-right d-2 d-item">
                    <ul class="footer-content-right-list">
                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/map.svg" alt=''>
                                </span>
                                Số 22 Khởi Nghĩa Bắc Sơn, P.10, TP. Đà Lạt, tỉnh Lâm Đồng
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/office-building 1.svg" alt=''>
                                </span>
                                72 – 74, đường B4, P. An Lợi Đông, TP. Thủ Đức, TP.HCM
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/email 1.svg" alt=''>
                                </span>
                                info@royalisland.vn
                            </a>
                        </li>

                        <li class="footer-content-right-item">
                            <a href="" class="footer-content-right-link">
                                <span class="footer-content-right-link-img">
                                    <img src="./assets/images/phone.svg" alt=''>
                                </span>
                                028 (3) 535 6556
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Trang chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Giới thiệu
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Lữu hành & Lưu trú
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Spa & Welness chủ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Căn hộ dịch vụ
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Mỹ phẩm
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Tin tức & Sự kiện
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Nguồn nhân lực
                    </a>
                </li>

                <li class="footer-link-item">
                    <a href="" class="menu-item">
                        Liên hệ
                    </a>
                </li>

            </ul>
        </div>
        <div class="footer-link-mona">
            <img src="./assets/images/Signature 2.png" alt="">
        </div>
    </footer>


    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>




<ul class="profile-content-list">
    <li class="profile-content-item">
        <div class="profile-content-item-box">
            <div class="profile-content-item-left">
                Vùng miền </div>

            <div class="profile-content-item-center">
                Miền Nam </div>

            <div class="profile-content-item-right">
                Miền Nam </div>
        </div>

    </li>
    <li class="profile-content-item">
        <div class="profile-content-item-box">
            <div class="profile-content-item-left">
                Quốc tịch </div>

                <div class="profile-content-item-center">
                    Miền Nam </div>

            <div class="profile-content-item-right">
                Việt Nam </div>
        </div>

    </li>
    <li class="profile-content-item">
        <div class="profile-content-item-box">
            <div class="profile-content-item-left">
                Ngôn ngữ </div>

                <div class="profile-content-item-center">
                    Miền Nam </div>

            <div class="profile-content-item-right">
                Việt, Anh </div>
        </div>

    </li>
    <li class="profile-content-item">
        <div class="profile-content-item-box">
            <div class="profile-content-item-left">
                Tôn giáo </div>

                <div class="profile-content-item-center">
                    Miền Nam </div>

            <div class="profile-content-item-right">
                Tin lành </div>
        </div>

    </li>
    <li class="profile-content-item">
        <div class="profile-content-item-box">
            <div class="profile-content-item-left">
                Tình trạng gia đình </div>

                <div class="profile-content-item-center">
                    Miền Nam </div>

            <div class="profile-content-item-right">
                Chưa kết hôn
            </div>
        </div>

    </li>
</ul>