.btn {
  display: flex;
  align-items: center;

  &-inner {
    padding: 2.1rem 1.1rem;
    font-weight: 400;
    font-size: 14px;
    @include fz-14;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #ffffff;
  }
}
