.about-intro {
    &-box {
        padding: 3rem 7.2rem 0rem;
        margin-bottom: 4rem;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &-bottom {
        display: flex;
        justify-content: end;
    }

    .recruitment-related-title {
        margin-left: 20rem;
    }
    .recruitment-related-title-at {
        top: 8rem;
        left: 25rem;
        font-weight: 300;
    }

    &-title {
        color: $color-pri;
        font-size: 13.2rem;
        font-weight: 300;
        letter-spacing: 5.28px;
        margin-top: -6rem;
    }

    &-title-mo {
        color: rgba(164, 110, 41, 0.2);
        font-size: 8.4rem;
        white-space: nowrap;
        letter-spacing: 0.84px;
        margin-top: -5rem;
    }

    .dich-vu-more {
        padding-top: 0;
    }
}

.about-overview {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $color-four;
    overflow: hidden;
    &-title {
        color: $bg-background;
        @include fz-42;
        line-height: 1.4;
        letter-spacing: 0.42px;
        margin-bottom: 1.6rem;
    }

    .news-outstanding-title {
        justify-content: start;
        color: $bg-background;
        font-size: 10rem;
        margin-left: -7rem;
        margin-bottom: 4.4rem;
    }

    .news-outstanding-title-icon {
        img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(19%) hue-rotate(134deg)
                brightness(105%) contrast(106%);
        }
    }

    &-content {
        align-items: center;
    }

    .btn-pro-ab {
        @include hover {
            background: $bg-background;
            i {
                color: $color-pri;
            }
        }
    }

    .btn-pro-ab i {
        color: $bg-background;
    }

    &-left {
        width: calc(6 * 100% / 12);
        position: relative;
        ::-webkit-scrollbar-thumb {
            background: $color-third;
        }
        &-item-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.4rem;
        }

        &-title {
            color: $bg-background;
            line-height: 1.4;
            @include fz-40;
            font-weight: 500;
        }

        &-note {
            color: $color-third;
            line-height: 1.4;
            @include fz-24;
            font-family: "Latin Modern Roman";
            font-weight: 700;
            margin-bottom: 4.4rem;
        }

        &-list-con {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            height: 25rem;
            overflow-y: auto;
            padding-right: 2.4rem;
        }

        &-item-con {
            color: $bg-background;
            @include fz-16;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: 0.32px;

            strong {
                font-weight: 700;
            }
        }
    }

    &-right {
        flex: 1;

        &-list {
            margin-right: calc((100vw - 120rem) / -2);
        }

        &-item {
            &-img {
                padding-top: calc(100% * 525 / 808);
                position: relative;
                width: 100%;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                }
            }
        }
    }
}

.about-message {
    padding-top: 10rem;
    padding-bottom: 10rem;

    &-content {
        align-items: center;
    }

    &-left {
        width: calc(7 * 100% / 12);

        &-tt-1{
            width: 40rem;
            height: 40rem;
            background-color: #EBE0D1;
            border-radius: 50%;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        
        &-content {
            max-width: 70.6rem;
            position: relative;
        }

        &-img {
            padding-top: calc(100% * 641 / 706);
            display: block;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }
    }

    &-box{
        margin-top: -15rem;
    }

    &-title {
        color: $color-pri;
        font-size: 10rem;
        font-family: "Latin Modern Roman";
        text-align: center;
        margin-bottom: 0.4rem;
        position: relative;
        z-index: 2;
    }

    &-note {
        color: $color-text;
        @include fz-42;
        letter-spacing: 0.42px;
        text-align: center;
    }

    &-right {
        flex: 1;
        width: 100%;

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            height: 42rem;
            overflow-y: auto;
            margin-bottom: 5rem;
        }

        &-item {
            color: $color-text;
            @include fz-16;
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: 0.32px;
        }

        &-box {
            display: flex;
            justify-content: flex-end;
        }

        &-ky {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 0.8rem;
            max-width: 15.5rem;
            margin-left: 0;
        }

        &-img {
            max-width: 13.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-name {
            color: $color-text;
            @include fz-16;
            font-weight: 500;
            letter-spacing: 0.16px;
        }
    }
}
