.about-intro {
    padding: 3rem 7.2rem 10rem;
    display: flex;
    .recruitment-related-title {
        margin-left: 20rem;
    }
    .recruitment-related-title-at {
        top: 8rem;
        left: 25rem;
        font-weight: 300;
    }

    &-title {
        color: $color-pri;
        font-size: 132px;
        font-family: Montserrat;
        font-weight: 300;
        letter-spacing: 5.28px;
    }

    &-title-mo {
        color: rgba(164, 110, 41, 0.2);
        font-size: 8.4rem;

        letter-spacing: 0.84px;
    }
}
