.contact-form {
    padding-top: 10rem;
    padding-bottom: 8rem;
    &-content {
        overflow: hidden;
    }

    &-content-left {
        width: calc(7 * 100% / 12);
    }

    &-content-right {
        flex: 1;

        &-content {
            margin-right: calc((100vw - 120rem) / -2);
        }
    }

    &-title {
        font-family: "Cinzel";
        font-style: normal;
        font-weight: 700;
        font-size: 8rem;
        line-height: 1.4;
        text-transform: uppercase;
        background: linear-gradient(138.37deg, #a46e29 2.24%, #f7e47f 104.59%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 1.4rem;
    }

    &-text {
        font-weight: 400;
        @include fz-16;
        line-height: 1.6;
        color: rgba($color: $color-text, $alpha: 0.8);
        margin-bottom: 8rem;
    }
}

.contact-form-left-list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 8rem;
}

.contact-form-left-link {
    display: flex;
    align-items: center;
    column-gap: 2.4rem;

    @include hover {
        .contact-form-left-img {
            background-color: transparent;

            img {
                filter: brightness(0) saturate(100%) invert(94%) sepia(5%) saturate(2226%) hue-rotate(344deg)
                    brightness(104%) contrast(100%);
            }
        }
    }
}

.contact-form-left-img-box {
    width: 4.2rem;
    height: 4.2rem;
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(138.37deg, #a46e29 2.24%, #f7e47f 104.59%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-left-img {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    flex-shrink: 0;
    transition: all 0.5s linear;
    img {
        width: 1.8rem;
        height: 1.8rem;
    }
}
