.dich-vu{
    padding-left: 9rem;
    background: #F0E8DD;
    padding-top: 10rem;
    padding-bottom: 10rem;
    &-list{
        .swiper-wrapper{
            align-items: center;
            column-gap: 14rem;
        }
        .swiper-slide{
            &:nth-child(odd){
                width: 67.2rem;
                height: 42rem;

                .dich-vu-item{
                    padding: 14.5rem 8.7rem;
                }
            }

            &:nth-child(even){
                height: 67.2rem;
                width: 42rem;
            }
        }
    }

    &-item{
        position: relative;
        width: 100%;
        height: 100%;


        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #EADDD0 0%, #EADDD0 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.00) 30.80%, rgba(164, 109, 41, 0.30) 100%), url(<path-to-image>), lightgray 0px -14.027px / 100% 106.68% no-repeat;
            z-index: 2;
        }

        &-img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }
}