.hotel-des {
    padding-top: 6rem;
    padding-bottom: 10rem;

    &-text {
        color: $color-text;
        text-align: center;
        @include fz-16;
        line-height: 1.6;
        letter-spacing: 0.16px;
        margin: 0 auto 2.4rem;
        max-width: 79.2rem;
    }

    &-list {
        background-color: $color-second;
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
        margin-bottom: 4.4rem;
    }

    .dich-vu-apm-left-con-rt-list {
        max-width: 60.5rem;
        margin: 0 auto;
    }

    .dich-vu-more {
        padding-top: 0;
        padding-bottom: 0;
    }

    .btn {
        margin: 4.4rem auto 0;
    }
}

.hotel-des-2 {
    margin-left: 7.2rem;

    padding-bottom: 10rem;
    overflow: hidden;
    &-left {
        width: calc(100% * 5 / 12);
    }

    &-right {
        flex: 1;

        &-img {
            padding-top: calc(100% * 760 / 954);
            width: 100%;
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                top: 0;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: $color-pri, $alpha: 0.2);
                z-index: 1;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-top {
        position: relative;
        margin-bottom: 4.8rem;
        &-list {
            width: 100%;
        }

        .swiper {
            max-width: 37.2rem;
            margin: 0;
            position: relative;
        }

        .title-main {
            position: absolute;
            top: 45%;
            left: 45rem;
            max-width: 45rem;
            text-overflow: ellipsis;
            overflow: hidden;
            transform: translate(-50%, -50%) rotate(90deg);
            white-space: nowrap;
        }
    }

    &-top-item {
        max-width: 37.2rem;
        &-img {
            padding-top: calc(100% * 503 / 372);
            width: 100%;
            overflow: hidden;
            position: relative;

            &::before {
                content: "";
                top: 0;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: $color-pri, $alpha: 0.2);
                z-index: 1;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }
    }

    &-bottom {
        &-content {
            padding-right: 5rem;
            height: 14rem;
            overflow-y: auto;
            color: $color-text;
            max-width: 57.6rem;
            @include fz-16;
            line-height: 1.6;
            letter-spacing: 0.16px;
        }
    }
}

.hotel-des-3 {
    padding: 0 7.2rem 10rem;
    overflow: hidden;
    &-list-img {
        margin-bottom: 5.6rem;
    }

    &-item-left {
        .swiper-pagination {
            padding-top: 2rem;
            margin-bottom: 4rem;
        }
    }

    &-item-img {
        padding-top: calc(100% * 470 / 780);
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 2rem;
        &::before {
            content: "";
            top: 0;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: $color-pri, $alpha: 0.2);
            z-index: 1;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    &-list-content {
        width: 100%;
       
        position: relative;
        .btn {
            margin: 0 auto;
        }

        &-box {
            max-width: 60.5rem;
            margin: 0 auto;
        }

        &-text {
            color: rgba(164, 110, 41, 0.05);
            font-size: 22rem;
            position: absolute;
            top: 0;
            left: 0;
            letter-spacing: 1.1rem;
            z-index: 1;
        }

        &-item {
            position: relative;
            z-index: 2;
        }
    }

    &-item-content {
        display: flex;
        flex-direction: column;
    }

    &-item-right {
       .hotel-des-3-list-content-item{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 10rem;
       }

       .hotel-des-3-list-content-box{
        margin-bottom: 5.4rem;
       }

        .swiper-pagination {
            margin-top: 4rem;
            margin-bottom: 0;
        }

        .hotel-des-3-list-content-text {
            left: -35%;
        }
    }

    &-title {
        text-align: start;
        color: $color-pri;
        @include fz-36;
        font-family: "Latin Modern Roman";
        letter-spacing: 0.36px;
        text-transform: uppercase;
        margin-bottom: 3.4rem;
    }

    .dich-vu-apm-left-con-rt-list {
        max-width: none;
    }
}
