.hotel-des {
    padding-top: 6rem;
    padding-bottom: 10rem;

    &-text {
        color: var(--dark-elevator-3, #262626);
        text-align: center;
        font-size: 16px;
        @include fz-16;
        font-family: Montserrat;
        line-height: 160%;
        letter-spacing: 0.16px;
    }
}
