.news-outstanding {
    padding-top: 8rem;
    padding-bottom: 10rem;

    &-title {
        font-family: "Latin Modern Roman";
        font-style: normal;
        font-weight: 400;
        @include fz-60;
        line-height: 1.4;
        color: $color-pri;
        text-align: center;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        column-gap: 2.6rem;
        justify-content:center;
    }

    &-title-icon{
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
        img{
            width: 100%;
            height: 100%;
        }

        animation: phongTo ease-in-out 1s infinite;


        @keyframes phongTo {
            0%{
                transform: scale(1)
            }

            20%{
                transform: scale(1.1)
            }

            40%{
                transform: scale(0.8)
            }

            80%{
                transform: scale(0.6)
            }
        }
    }
}
