.sh-title {
    padding-top: 10rem;
    padding-bottom: 5rem;
    &-container {
        max-width: 161rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    &-content{
        display: flex;
        justify-content: space-between;
    }

    &-title {
        color: $color-pri;
        font-size: 8rem;
        font-family:" Latin Modern Roman";
        line-height: 1.5;
        position: relative;


        &::before{
            content: "-";
        }
    }
}
