.my-pham {
    margin-top: 4.4rem;
    margin-bottom: 10rem;

    &-container {
        max-width: 149.4rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }


    &-left{
        width: calc(100% * 3 / 12);
    }


    &-left-content{
        

        &-title{
            max-width: 2rem;
        }
    }
}
