$color-pri: #A46E29;
$color-second: #F0E8DD;
$color-third: #FAEFB2;
$color-four: #D0AC7E;
$color-five: #88898a;
$color-six: #a50a10;
$color-black: #262626;
$color-text: #262626;
$color-text2: #1C1919;
$color-text3: #444444;
$color-black-2: #0f0e0f;
$bg-background:#F8F5F0;


//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 500px;
//Distance
$distance-header: 120px;
$distance-header-mobile: 72px;
$distance-header-sticky: 60px;
$distance-header-mobile-sticky: 56px;
$border-line: 1px solid rgba(0, 0, 0, 0.1);
$radius: 6px;
