.banner-page{

    &-bg{
        width: 100%;
        height: calc(100vw * 600 / 1728);
        position: absolute;
        top: 0;
        left: 0;
    }
  
   

    img{
        
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}