.banner-page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem 0;
    &-bg {
        width: 100%;
        height: calc(100vw * 600 / 1728);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(230, 204, 108, 0) 15.52%, rgba(188, 144, 66, 0.8) 100%),
                linear-gradient(180deg, #f8f5f0 9.39%, rgba(255, 255, 255, 0) 144.22%);
            z-index: 1;
        }
    }

    &-content {
        position: relative;
        z-index: 2;
    }

    .breadcrumbs {
        margin-bottom: 9rem;
    }

    &-title {
        font-family: "Latin Modern Roman";
        font-style: normal;
        font-weight: 400;
        font-size: 6rem;
        line-height: 1.5;
        color: $color-text;
        text-align: center;
    }

    &-filter {
        background: rgba(248, 245, 240, 0.8);
        border-radius: 8.9rem;
        padding: 2.3rem 7.3rem;
    }
}
