.brand-logo {
    padding-top: 10rem;
    padding-bottom: 10rem;

    &-left {
        width: calc(100% * 5 / 12);
    }

    &-title {
        color: var(--primary-brown-1, #a46e29);
        font-size: 6rem;
        font-family:" Latin Modern Roman";
    }
}
