.brand-logo {
    padding-top: 10rem;
    padding-bottom: 10rem;

    &-left {
        width: calc(100% * 5 / 12);
    }

    &-title {
        color: $color-pri;
        font-size: 6rem;
        font-family: " Latin Modern Roman";
        line-height: 1.2;
        margin-bottom: 6.4rem;
    }

    &-note {
        color: ^$color-text;
        @include fz-32;
        font-family: "Montserrat";
        font-weight: 500;
    }
}
