.brand-logo {
    padding-top: 10rem;
    padding-bottom: 10rem;

    &-left {
        width: calc(100% * 5 / 12);
    }

    &-title {
        color: $color-pri;
        font-size: 6rem;
        font-family: " Latin Modern Roman";
        line-height: 1.2;
        margin-bottom: 6.4rem;
    }

    &-note {
        color: $color-text;
        @include fz-32;
        font-family: "Montserrat";
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 2.4rem;
    }

    &-text {
        color: $color-text;
        @include fz-16;
        font-family: "Montserrat";
        line-height: 1.6;
        letter-spacing: 0.16px;
        margin-bottom: 6.4rem;
    }

    

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 1.2;
        color: $color-text;
        @include fz-16;
        font-weight: 500;
        line-height: 24px;
        opacity: 1;
        border: none;
        background-color: transparent;
    }

    .swiper-pagination-bullet-active {
        color: $color-pri;
    }
}
