:root {
  --headerHeight: 8.4rem;
  --headerHeight2: 11.2rem;
}

@media (max-width: 1201px) {
  :root {
    --headerHeight: 5.6rem;
    --headerHeight2: 5.6rem;
  }
}

.header {
  position: sticky;
  position: -webkit-sticky;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  top: 0;
  background: white;
  // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);

  &-wrap {
    background: white;
    height: var(--headerHeight);
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    @include max(1201px) {
      // padding: 0 1rem;
    }
  }

  &-menu {
    margin-right: auto;
    margin-left: 2.4rem;

    @media (max-width: 1201px) {
      position: fixed;
      top: var(--headerHeight);
      left: 0;
      bottom: 0;
      z-index: 998;
      width: 30vw;
      min-width: 28rem;
      background: white;
      overflow: auto;
      @include flex;
      flex-direction: column;
      padding-right: 0;
      padding-bottom: 0.5rem;
      // height: 100vh;
      transform: translateX(-100%);
      @include transition(0.5s, ease-in-out);

      &.show {
        transform: translateX(0);
      }
    }

    .header {
      &-logo {
        margin-bottom: 2rem;
        position: relative;
        order: 1;
        transform: none;
        width: 12rem;
        z-index: 999;

        @media (min-width: 1202px) {
          display: none;
        }

        @include max(600px) {
          margin-bottom: 1rem;
        }
      }

      // &-search {
      //   @include max(1201px) {
      //     display: none;
      //   }
      // }
    }

    .container {
      order: 2;

      @include max(1201px) {
        padding: 0;
      }
    }

    .contact {
      margin-top: auto;
      padding: 1rem 1rem 3rem;
      order: 3;
      width: 100%;

      @media (min-width: 1202px) {
        display: none;
      }

      &-lst {}

      &-item {
        padding: 0.5rem 0;

        .icon {
          // background: $color-pri;
          color: $color-pri;
          width: 1.6rem;
          margin-right: 0.6rem;
          display: none;
        }

        .text {
          color: $color-pri;
          @include fz-16;
          line-height: 1.2;
        }

        .tit {
          flex-shrink: 0;
          float: left;
          font-weight: 600;
          @include fz-16;
          line-height: 1.4;
          margin-right: 0.6rem;

        }
      }

      .icon-mona {
        width: 2.4rem;
        @include flex;
        flex-shrink: 0;
        margin-right: 0.8rem;
      }

      &-text {
        // @include flex;
        // align-items: flex-start;
      }
    }

    &-desk {
      background: #FFFFFF;
      z-index: 9999;
      position: fixed;
      top: var(--headerHeight);
      padding: 2.9rem 4rem 1.6rem;
      border-radius: 0px 0px 0.8rem 0.8rem;
      left: calc((100vw - 120rem)/2);
      width: 26rem;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
      transform: scaleY(0);
      transform-origin: top;

      @include max(1201px) {
        display: none;
      }

      .menu-item {
        flex-direction: column;
        align-items: unset !important;
      }

      .menu-list {
        flex-direction: column;
        align-items: unset;
        position: relative;
        transform: none;
        box-shadow: none;
        opacity: 1;
        transition: unset;
        z-index: 1;

        .menu-item {
          .menu-list {
            display: none;
            padding-left: 3.4rem;
          }
        }
      }

      .menu-nav>.menu-list>.menu-item.dropdown>a>i {
        pointer-events: unset;
      }
    }
  }

  .header-menu {
    @include max(1201px) {
      display: none;
    }
  }

  .header-lang {
    margin-left: auto;

    @include max(800px) {
      display: none;
    }
  }

  .header-user {

  }

  &-manipulation {
    flex-wrap: nowrap;

    @include max(1201px) {
      order: 3;
    }
  }

  &-search {
    position: relative;
    margin-left: auto;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.6rem;
    margin-left: var(--pdGen2);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    z-index: 10;

    @include max(1201px) {
      width: 4rem;
      height: 4rem;
      padding: 0.3rem;
    }

    @include max(800px) {
      margin-right: auto;
    }


    .icon {
      display: block;
      @include mid-flex;
      color: $color-text;
      cursor: pointer;
      transition: 0.3s;
      width: 100%;
      height: 100%;

      @media (max-width: 1024px) {
        width: 3.2rem;
        height: 3.2rem;
        font-size: 1.6rem;
      }

      i {
        font-weight: 900;
      }

      @media (min-width: 1202px) {
        &:hover {
          color: $color-pri;
        }
      }

      img {
        width: 1.6rem;
      }
    }


    .form-search {
      max-width: 0;
      height: 5.3rem;
      right: -0.2rem;
      width: 80vw;
      background: #EFEFEF;
      opacity: 0;
      visibility: hidden;

      @include max(1201px) {
        width: 28rem;
        height: 4rem;
      }

      &.active {
        max-width: 83rem;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-user {
    margin-left: var(--pdGen2);

    @include max(800px) {
      margin-left: 0;
    }

    .icon {
      width: 3.2rem;
      height: 3.2rem;
      padding: 0.6rem;
      @include mid-flex;
    }
  }

  &-cart {
    margin-left: var(--pdGen2);

    .btn {
      &-inner {
        @include max(800px) {
          padding: 1rem;
        }

        .text {
          @include max(800px) {
            display: none;
          }
        }

        .icon {
          @include max(800px) {
            margin-left: 0 !important;
          }
        }
      }
    }
  }

  &-logo {
    width: 8.4rem;
    @include mid-flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1201px) {
      height: 100%;
    }

    @media (max-width: 600px) {
      // width: 4.5rem;
      width: 12rem;
    }

    @media (max-width: 400px) {
      width: 9rem;
      padding: 0;
      padding-left: 1rem;
    }

    a {
      display: block;

      @include max(1201px) {
        height: 100%;
      }
    }

    img {
      width: 100%;
      object-fit: contain;
      display: block;
    }
  }

  .social {
    margin-right: 1.8rem;

    @include max(450px) {
      display: none;
    }
  }

  &-lang {
    @include max(800px) {
      width: 100%;
    }
  }

  &-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 4rem;
    height: 4rem;
    @include mid-flex;
    // border: 0.1rem solid $color-pri;
    cursor: pointer;

    @media (min-width: 1202px) {
      display: none;
    }

    @include max(1024px) {
      width: 3rem;
      height: 3rem;
      top: 2.5rem;
    }

    @include max(600px) {
      top: 1.5rem;
    }

    @include max(400px) {
      top: 1rem;
    }
  }

  &-nav {
    @include max(1201px) {
      order: 2;
      // flex-direction: column;
      flex-wrap: wrap;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .header-search {
      margin-right: 0;

      @include min(1600px) {
        display: none;
      }

      .icon {
        color: $color-pri;
      }
    }
  }

  &-ct {
    &.show {
      @include min(1202px) {
        .header-menu-desk {
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
          transform-origin: top;
        }
      }

      .header-menu {
        @include max(1201px) {
          transform: translateX(0);
        }
      }
    }

    .header-menu {
      margin-left: 0;

      @include min(1202px) {
        display: none;
      }
    }

    .header-lang {
      padding: 1.5rem;
      border-top: 0.1rem solid #F97B55;

      @include min(801px) {
        display: none
      }
    }
  }

  &-btn {
    @include flex;
    align-items: center;
    border: 0.1rem solid $color-pri;
    border-radius: 1.3rem;
    overflow: hidden;
    cursor: pointer;
    user-select: none;

  }

  &-user {
    position: relative;
    cursor: pointer;

    @include hover {
      .header-modal {
        transform: translateY(0);
        pointer-events: unset;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-modal {
    position: absolute;
    top: calc(var(--headerHeight) - 1rem);
    right: -2.4rem;
    transform: translateY(2rem);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &::before {
      position: absolute;
      content: "";
      width: 3.2rem;
      height: 3.2rem;
      background: #FFFFFF;
      transform: rotate(60deg) skew(35deg);
      border-radius: 0.5rem;
      right: 2.3rem;
      top: 0rem;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      top: -5rem;
    }

    &-wrap {
      padding: 1.8rem 3rem;
      background: #FFFFFF;
      border-radius: 0.8rem;
      width: 22.2rem;
    }

    &-box {
      @include flex;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: 0.1rem solid #F5F5F5;
      margin-bottom: 1.2rem;

      .avt {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0.1rem solid $color-pri;
        margin-right: 0.8rem;
      }
    }

    &-list {
      border-bottom: 0.1rem solid #F5F5F5;
      margin-bottom: 0.8rem;

    }

    &-item {
      margin-bottom: 1.2rem;

    }

    .btn {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }
}